<section id="presentation-1">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row" id="presentation1">
		<%= link_to(image_tag("presentation-centrale2-01.png"), about_path)%>
	</div>
	<div class="row">
		<div class="row" id="intro">
			Le constat: Un manque cruel de plateforme d'échanges d'idées, d'opinions et d'arguments.
		</div>
		<div class="row" id="abobo">
			Un Réseau social du débat !
		</div>
	</div>
    <div class="row">
      <div class="span4" id ="petit-abo">
		<div class="offre2">
			Les Forums
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Des forums caduques : Pas d'interactions entre les forumeurs.
				</br></br>
				Pas de modérateurs, pas de buts, digressions et pourrissage récurrents.
			</div>
		</div>
	  </div>
      <div class="span4" id ="grand-abo">
		<div class="offre2">
			Moutoners
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Une ligne éditoriale de qualité, des débats contrôlés, des experts avisés, et une communauté !
			</div>
		</div>
	  </div>
    </div>

    <div class="row">
      <div class="span4" id ="petit-abo">
		<div class="offre2">
			Les Réseaux Sociaux
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Le nivellement par le bas, car débats pollués et non réglementés.
				</br></br>
				Des plateformes non adaptées pour le débat.
				
			</div>
		</div>
	  </div>
      <div class="span4" id ="grand-abo">
		<div class="offre2">
			Moutoners
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Une plateforme pensée pour le débat. Des utilisateus, qui ne viennent que pour débattre.
			</div>
		</div>
	  </div>
    </div>

    <div class="row">
      <div class="span4" id ="petit-abo">
		<div class="offre2">
			Les Médias
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Un sentiment général que la sphère médiatico-politique ne comprends pas ce que ressent et désire le peuple.
				</br></br>
				Un lecteur trop passif.
			</div>
		</div>
	  </div>
      <div class="span4" id ="grand-abo">
		<div class="offre2">
			Moutoners
		</div>
		<div class="cadre13">
			<div class="sous-titre">
				Le pouvoir à la parole du peuple. Une sorte de cahiers de doléance, de "Dazibao" du web.
			</div>
		</div>
	  </div>
    </div>

	<div class="row" id="promesses">
		Apprendre</br>Rencontrer</br>S'amuser
	</div>
	<div class="row">
		<div class="row" id="intro2">
		Le Troupeau de Panurge a fini noyé.
		</div>
	</div>
  </div>

</section>
<section id="presentation-2">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row" id="presentation1">
		<%= image_tag("presentation-centrale4-01.png")%>
	</div>
	<div class="row">
		<div class="row" id="intro">
			Argumente. Conteste. Vote. Défie. Juge. Débats.	
		</div>
	</div>
	
	<div class="row">
      <div class="span11" id ="holy">
	   <div id="video">
	     <div id="connecte">
	   			<div class="row" id="lesphotos">
					<%= link_to image_tag('defisb.jpg'), dialectiques_path, class: "image1-expl"%>
					<%= link_to image_tag('defisbleu.jpg'), dialectiques_path, class: "image2-expl"%>
	   			</div>
	   			<div class="row" id="lesphotos">
					<%= link_to image_tag('expertsb.jpg'), dialectiques_path, class: "image1-expl"%>
					<%= link_to image_tag('expertsbleu.jpg'), dialectiques_path, class: "image2-expl"%>
	   			</div>
	   			<div class="row" id="lesphotos">
					<%= link_to image_tag('ouvertb.jpg'), dialectiques_path, class: "image1-expl"%>
					<%= link_to image_tag('ouvertbleu.jpg'), debats_path, class: "image2-expl"%>					
	   			</div>			
	     </div>
	     <div id="video2_0">
	   		<div class="intro"><%= @citations2.first[0] %></div>
	   		<div class="introduction1">
	   		<span class="texte"><%= @citations2.first[1] %></span>
	   		</div>
       
	   		<%= image_tag("fleche-droite.png", class: "fleche10")%>
	   		<div class="texte2"><%= @citations2.first[2] %></div>
	     </div>
	     <div id="video2_01">
	   		<div class="intro"><%= @citations2.second[0] %></div>
	   		<div class="introduction1">
	   		<span class="texte"><%= @citations2.second[1] %></span>
	   		</div>
       
	   		<%= image_tag("fleche-droite.png", class: "fleche11")%>
	   		<div class="texte2"><%= @citations2.second[2] %></div>
	     </div>
	     <div id="video2_02">
	   		<div class="intro"><%= @citations2.third[0] %></div>
	   		<div class="introduction1">
	   		<span class="texte"><%= @citations2.third[1] %></span>
	   		</div>
       
	   		<%= image_tag("fleche-droite.png", class: "fleche12")%>
	   		<div class="texte2"><%= @citations2.third[2] %></div>
	     </div>
	     <div id="video2_03">
	   		<div class="intro"><%= @citations2.last[0] %></div>
	   		<div class="introduction1">
	   		<span class="texte"><%= @citations2.last[1] %></span>
	   		</div>
       
	   		<div class="texte2"><%= @citations2.last[2] %></div>
	     </div>
	   </div>
	  </div>
	</div>

	
	<div class="row" id="presentation1">
		<%= link_to(image_tag("presentation-centrale5-01.png"), presse_path)%>
	</div>
	
  </div>

</section>