<section id="abonnements">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row" id="presentation1">
		<%= image_tag("presentation-centrale8-01.png")%>
	</div>
	<div class="row">
		<div class="row" id="intro">
			Venez vous faire tondre.
		</div>
		<div class="row" id="abobo">
			Abonnez-vous !
		</div>
	</div>
    <div class="row">
      <div class="span4" id ="petit-abo">
		<div class="offre2">
			Offre "mouton libre"
		</div>
		<div class="cadre13">
			<div class="titre">
			2€ par mois.
			</div>
			<div class="sous-titre">
			sans engagements
			</div>
		</div>
	  </div>
      <div class="span4" id ="grand-abo">
		<div class="offre2">
			Offre "instinct grégaire"
		</div>
		<div class="cadre13">
			<div class="titre">
			13€ par an.
			</div>
			<div class="sous-titre">
			sans engagements
			</div>
		</div>
	  </div>
    </div>
<div class="row" id="isabelle"><%= image_tag("tout-gratuit-01.png", class: "image")%></div>
	<div class="row" id="promesses">
		Pas de publicité,</br>Pas de parrainage,</br>Pas de sponsors.
	</div>
	<div class="row">
		<div class="row" id="intro2">
		Nous ne ferons jamais commerce de vos informations.
		</div>
	</div>
	<div class="row" id="abobo1">
		Pourquoi s'abonner?
	</div>
	<div class="row" id="raison1">
		<div class="circle">
			<%=image_tag("billetboule-01.png", class: "image")%>
			<div class="text">1</div>
		</div>
		<div class="text2">Avoir accès à tous les débats, les groupes,
		les événements et les fonctionnalités de Moutoners.
		</div>
	</div>
	<div class="row" id="raison2">
		<div class="circle">
			<%=image_tag("billetboule-01.png", class: "image")%>
			<div class="text">2</div>
		</div>
		<div class="text2">Faire partie du cercle fermé des débatteurs Moutoners.
		</div>
	</div>
	<div class="row" id="raison3">
		<div class="circle">
			<%=image_tag("billetboule-01.png", class: "image")%>
			<div class="text">3</div>
		</div>
		<div class="text2">Nous aider à maintenir une ligne éditorialede qualité, en étant indépendant de la pub !
		</div>
	</div>
	
	<div class="row" id="photo-abonnement">
	<%= image_tag('moutons-abonnement.png', :alt => 'Moutoners') %>
	</div>
	
	<div class="row" id="presentation1">
		<%= link_to(image_tag("presentation-centrale9-01.png"), cgu_path)%>
	</div>
  </div>

</section>