<section id="video_signup">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
	<div class="row">
		<div class="row" id="intro">
		Argumente. Conteste. Vote. Défie. Juge. Débats.
		</div>
	</div>
    <div class="row">
      <div class="span11" id ="holy">
        
		<div id="video">
		<% if !signed_in?%>
          <div id="hero">
            <div>
	
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  <div class="bouton">
			  	INSCRIS-TOI     GRATUITEMENT
			  </div>
			  <div> 
			    <%= f.text_field :name, placeholder: "NOM", class: "fields" %>
			  </div>
			  <div>
			    <%= f.email_field :email, :autofocus => true, placeholder:"EMAIL", class: "fields" %>
			  </div>  
			  <div>	
			    <%= f.password_field :password, placeholder:"MOT DE PASSE", class: "fields2" %>
			  </div>
			  <div><%= f.submit "VALIDER", :class => "validation"%></div>
			  <div class="inscriptionface"><%= link_to "INSCRIPTION VIA FACEBOOK", user_omniauth_authorize_path(:facebook),
			  													class: "via"%></div>
			    <% end %>
			</div>
		  </div>
			
          <div id="video_2">
		  </div>
			<%else%>
		  <div id="connecte">
		  </div>
		  <div id="video_3">
		  </div>
			<%end%>	
				
		</div>
	  </div>
    </div>

    <div class="row" id ="explanation1">

        <div class="explanation1">
		  <div class="texte">Débats Ouverts</div>
          <div class="image"> <%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

        <div class="explanation2">
		  <div class="texte">Défis</div>
          <div class="image"><%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

        <div class="explanation3">
		  <div class="texte">Les Experts</div>	
          <div class="image"><%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

    </div>

	<div class="row">
		
	   <div id="best-debates1">
	   	Débats les plus suivis
	   </div>
	 
	   <div id="best-debates2">
	   	Débats experts à venir
	   </div>
	</div>
	
	<div class="row" id="en-bas">
		<%= render "shared/menu_cat"%>
	
		<div id="best-debates3">	
    	    	<%= render "shared/challenge_badge", :challenge => @challenge%>
    	    	<%= render "shared/debate_badge", :debate => @debate %>
    	    	<% if @users.count > 2 %>
					<%= render "shared/doulin_badge", :doulin => @doulin %>
				<% end %>
		</div>
	</div>
		
  </div>
</section>  