<section id="video_signup">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
    <div class="row">
      <div class="span11" id ="holy">
        <div id="video">
		  
          <div id="hero">
            <div>
			<% if !signed_in?%>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			 <div> 
			  <%= f.text_field :name, placeholder: "NOM" %>
			</div>
			<div>
			  <%= f.email_field :email, :autofocus => true, placeholder:"EMAIL" %>
			</div>  
			<div>	
			  <%= f.password_field :password, placeholder:"MOT DE PASSE" %>
			  </div>
	
			<div><%= f.submit "INSCRIS-TOI GRATUITEMENT", :class => "bouton"%></div>
			
			<div><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></div>
			
			  <% end %>
			<%else%>
				<h2>le plus grand espace de débats</h2>
			<%end%>
			</div>	
         </div>
	

		  <div class="span7 offset 3">
          	<div id="video_2">
			</div>
		  </div>
		
        </div>
      </div>

    </div>
  </div>
</section>

<section id="explanations">
  <div class="container">
    <div class="row" id ="explanation1">
      <div class="span4">
        <div class="explanation">
          <div class="image"></div>
        </div>
      </div>
      <div class="span4">
        <div class="explanation">
          <div class="image"></div>
        </div>
      </div>
      <div class="span4">
        <div class="explanation">
          <div class="image"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="best-debates">
	<div class="container">
	    <div class="row">
		
	      <div class="span4 offset2">
	        <div id="best-debates1">
				DEBATS LES PLUS SUIVIS
	        </div>
	      </div>
	
	      <div class="span4">
	        <div id="best-debates1">
				DEBATS EXPERTS A VENIR
	        </div>
	      </div>
	
	    </div>
	  </div>
	
	<%= render "shared/menu_cat"%>
	
	<div class="span7 offset 4" id="best-debates2">
         <%= render "shared/challenge_badge", :challenge => @challenge%>
         <%= render "shared/doulin_badge", :doulin => @doulin %>
         <%= render "shared/debate_badge", :debate => @debate %>
	</div>
  
</section>