<section id="video_signup">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="video">
          <div id="img">
            <div><%= image_tag "gra46.png" %></div>
          </div>
          <div id="hero">
            <div>
              <h2>Moutoner<br /> Le plus grand espace de débats.</h2>
              <h3>Débattre, pour sortir de la pensée unique<br />
              <%= link_to "Découvrir", debates_path, :class => "btn btn-success btn-large" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="explanations">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="explanation">
          <div class="image"><%= link_to image_tag("debats.png"), doulins_path %></div>
        </div>
      </div>
      <div class="span4">
        <div class="explanation">
          <div class="image"><%= link_to image_tag("experts.png"), debates_path %></div>
        </div>
      </div>
      <div class="span4">
        <div class="explanation">
          <div class="image"><%= link_to image_tag("dialectique.png"), challenges_path %></div>
        </div>
      </div>
    </div>
  </div>
</section>
  
	