<section id="video_signup">
  <%= render :partial => "shared/flash_messages" %>
  
  <div class="container">

	<div class="row">
		<div class="row" id="intro">
			Mieux vaut être un mouton noir, qu'un mouton de panurge.
		</div>
	</div>
    <div class="row">
      <div class="span11" id ="holy">
        
		<div id="video">
		<% if !signed_in?%>
          <div id="hero">
            <div>
	
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  <div class="bouton">
			  	INSCRIS-TOI     GRATUITEMENT
			  </div>
			  <div> 
			    <%= f.text_field :name, placeholder: "NOM", class: "fields" %>
			  </div>
			  <div>
			    <%= f.email_field :email, :autofocus => true, placeholder:"EMAIL", class: "fields" %>
			  </div>  
			  <div>	
			    <%= f.password_field :password, placeholder:"MOT DE PASSE", class: "fields2" %>
			  </div>
			  <div><%= f.submit "VALIDER", :class => "validation"%></div>
			  <div class="inscriptionface"><%= link_to "INSCRIPTION VIA FACEBOOK", user_omniauth_authorize_path(:facebook),
			  													class: "via"%></div>
			    <% end %>
			</div>
		  </div>
			
          <div id="video0">
				<div class="introduction1">
				<span class="texte"><%= @citations.first %></span>
				</div>

				<%= image_tag("fleche-droite.png", class: "fleche01")%>
				<div class="texte2">Argumente. Conteste. Vote. Défie. Juge. Débats.</div>
		  </div>
		
		  <div id="video01">
				<div class="introduction1">
				<span class="texte"> <%= @citations.second%></span>
				</div>
				<%= image_tag("fleche-droite.png", class: "fleche02")%>
				<div class="texte2">Argumente. Conteste. Vote. Défie. Juge. Débats.</div>
		  </div>

		  <div id="video02">
				<div class="introduction1">
				<span class="texte"> <%= @citations.third%></span>
				</div>
				<%= image_tag("fleche-droite.png", class: "fleche03")%>
				<div class="texte2">Argumente. Conteste. Vote. Défie. Juge. Débats.</div>
		  </div>
		  <div id="video03">
				<div class="introduction1">
				<span class="texte"> <%= @citations.last%></span>
				</div>
				<div class="texte2">Argumente. Conteste. Vote. Défie. Juge. Débats.</div>
		  </div>				
		
			<%else%>
		  <div id="connecte">
					<div class="row">
						<div class="span2">
							<div class="image1">
								<%= link_to image_tag(current_user.avatar.url(:medium)), current_user, class: "image"%>
							</div>
							<div class="nom">
								<%= link_to current_user.fitting_name, current_user, class: "nom"%>
							</div>
						</div>
					</div>
					
				<div class="row" id="stats-profil">
					<div class="texte5"><%= link_to current_user.notifications, current_user, class: "texte5"%></div> <div class="texte2">Notification(s)</div>
				</div>
				<div class="row" id="stats-profil">
					<div class="texte5"><%= link_to current_user.notifications2.count, current_user, class: "texte5"%></div> <div class="texte2">Défi(s) en cours</div>
				</div>
				<div class="row" id="stats-profil">
					<div class="texte5"><%= link_to current_user.invitation_request.count, current_user, class: "texte5"%></div> <div class="texte2">Invitations</div>
				</div>				
		  </div>
		  <div id="video2_0">
				<div class="intro"><%= @citations2.first[0] %></div>
				<div class="introduction1">
				<span class="texte"><%= @citations2.first[1] %></span>
				</div>

				<%= image_tag("fleche-droite.png", class: "fleche10")%>
				<div class="texte2"><%= @citations2.first[2] %></div>
		  </div>
		  <div id="video2_01">
				<div class="intro"><%= @citations2.second[0] %></div>
				<div class="introduction1">
				<span class="texte"><%= @citations2.second[1] %></span>
				</div>

				<%= image_tag("fleche-droite.png", class: "fleche11")%>
				<div class="texte2"><%= @citations2.second[2] %></div>
		  </div>
		  <div id="video2_02">
				<div class="intro"><%= @citations2.third[0] %></div>
				<div class="introduction1">
				<span class="texte"><%= @citations2.third[1] %></span>
				</div>

				<%= image_tag("fleche-droite.png", class: "fleche12")%>
				<div class="texte2"><%= @citations2.third[2] %></div>
		  </div>
		  <div id="video2_03">
				<div class="intro"><%= @citations2.last[0] %></div>
				<div class="introduction1">
				<span class="texte"><%= @citations2.last[1] %></span>
				</div>

				<div class="texte2"><%= @citations2.last[2] %></div>
		  </div>
		
			<%end%>	
				
		</div>
	  </div>
    </div>

    <div class="row" id ="explanation1">

        <div class="explanation1">
		<%= link_to image_tag('ouvertb.jpg'), debats_path, class: "image1-expl"%>
		<%= link_to image_tag('ouvertbleu.jpg'), debats_path, class: "image2-expl"%>
		  <div class="texte">Débats Ouverts</div>
          <div class="image"><%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

        <div class="explanation2">
		<%= link_to image_tag('defisb.jpg'), dialectiques_path, class: "image1-expl"%>
		<%= link_to image_tag('defisbleu.jpg'), dialectiques_path, class: "image2-expl"%>
		  <div class="texte">Défis</div>
          <div class="image"><%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

        <div class="explanation3">
		<%= link_to image_tag('expertsb.jpg'), experts_path, class: "image1-expl"%>
		<%= link_to image_tag('expertsbleu.jpg'), experts_path, class: "image2-expl"%>
		<div class="texte">Les Experts</div>	
         <div class="image"><%= image_tag('baniere-explication.png', :alt => 'Moutoners') %></div>
        </div>

    </div>

	<div class="row">
		
	   <div id="best-debates1">
	   	Débats les plus suivis
	   </div>
	 
	   <div id="best-debates2">
	   	Débats experts à venir
	   </div>
	</div>
	
	<div class="row" id="en-bas">
		
		<div id="catcatcat"><%= render "shared/menu_cat"%></div>
	
		<div id="best-debates3">	
    	    	<%= render "shared/challenge_badge", :challenge => @challenge%>
				<%= render "shared/debate_badge", :debate => @debate%>
				<%= render "shared/doulin_badge", :doulin => @doulin%>
		</div>
	</div>
	
	   <div id="best-debates4">
	   	<%= link_to ("Voir tous les débats"), list_path%>
	   </div>
		
  </div>
</section>  