<%= link_to "Créér un challenge", new_challenge_path %>

<section>
	<div class="span2" id="menu-categories">
		<div class ="row">
			<%= link_to "SPORTS", dialectiques_path(:cat => 1), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "VIE", dialectiques_path(:cat => 2), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "MONDE", dialectiques_path(:cat => 3), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "ECONOMIE", dialectiques_path(:cat => 4), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "CULTURE", dialectiques_path(:cat => 5), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "SCIENCES", dialectiques_path(:cat => 6), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "QUESTIONNEMENT", dialectiques_path(:cat => 7), :class => "categ"%>
		</div>
		
		<div class ="row">
			<%= link_to "SOCIETE", dialectiques_path(:cat => 8), :class => "categ"%>
		</div>
		
	</div>
<section>
<%= render "shared/index", :object => @challenges %>
