<div class="container" id="index-doulins">
	<div class="row" id="intro-doulin">
		<div class="texte">Débats codifiés en comité réduit</div>
	</div>
	
	<div class="row" id="open-infos">
		<div class="span11" id="informations-doulin1">
			<div class="row" id="informations-challenge1">
				
				<div class="row" id="sign_in2">
					<div class="span4" id="gauche-expl">
					
						<div class="row" id="sign_in33">
							<span class="texte1">Inscrivez-vous</span><span class="texte2"> et participez,</span>
						</div>
						<div class="row" id="sign_5">
							<%= image_tag("image4-explcha-01.png")%>
						</div>
						<div class="row" id="sign_4">
							<span class="texte">Vous pouvez rejoindre une joute, ou en créer une nouvelle. Vous pouvez aussi inviter vos amis.</span>
						</div>
					</div>
					
					<div class="span4" id="gauche-expl">
					
						<div class="row" id="sign_in31">
							<span class="texte1">Soyez éloquents</span><span class="texte2"> et argumentez.</span>
						</div>
						<div class="row" id="sign_51">
							<%= image_tag("image2-explcha-01.png", class: "image")%>
						</div>
						<div class="row" id="sign_4">
							<span class="texte">Des notifications vous signalent que c'est votre tour. Une fois votre argument validé, il est non modifiable.</span>
						</div>
						<div class="row" id="sign_52">
							<%= image_tag("image3-explcha-01.png")%>
						</div>
					</div>
					
					<div class="span4" id="gauche-expl2">
					
						<div class="row" id="sign_in3">
							<div id="fermer-explication">
							X
							</div>
							<span class="texte1">Spectateur ? Votez</span><span class="texte2"> et départagez.</span>
						</div>
						<div class="row" id="sign_5">
							<%= image_tag("image6-explcha-01.png")%>
						</div>
						<div class="row" id="sign_4">
							<span class="texte">Vous pouvez voter pour l'équipe (ou la personne) qui vous a convaincu(e). Le suffrage universel décide de tout.</span>
						</div>
					</div>
				</div>

		  </div>
		</div>
	 </div>
	
	<div class="row" id="open-infos2">
		<div class="span11" id="informations-doulin">
			<div class="row" id="informations-challenge">
				<div class ="span9" id="textexp">
					La Création de joutes.			
				</div>
			 	<div class="span1" id="fermer-explication1">
				X
				</div>
		    </div>
			<div class="row" id="ouvrons-encore">
				<div class="span3">
					<div class="titre">
					<%= link_to "Créer une joute", new_challenge_path, class: "challenge"%>
					</div>
					<div class="sous-titre">
					Créez votre propre débat, pour défier vos amis.
					</div>
				</div>
				<div class="span2">
					<div class="image1">
					<%= image_tag("explication2-01.png", class: "challenge")%>
					</div>
					<div class="titre1">
						Forme de débat
					</div>
					<div class="soustitre1">
						Choisissez entre les quatre formes de débats proposés.
					</div>
				</div>
				<div class="span2">
					<div class="image1">
					<%= image_tag("explication3-01.png", class: "challenge")%>
					</div>
					<div class="titre1">
						Le thème
					</div>
					<div class="soustitre1">
						Définition du thème et des paramètres.
					</div>
				</div>
				<div class="span2">
					<div class="image1">
					<%= image_tag("explication4-01.png", class: "challenge")%>
					</div>
					<div class="titre1">
						Les participants
					</div>
					<div class="soustitre1">
						Qui sera avec vous? Contre vous?
					</div>
				</div>
				<div class="span2">
					<div class="image1">
					<%= image_tag("explication5-01.png", class: "challenge")%>
					</div>
					<div class="titre1">
						Participer et vaincre
					</div>
					<div class="soustitre1">
						L'art d'avoir toujours raison.
					</div>
				</div>
			</div>
		</div>
	</div>

	
	

	
	<ul class ="row" id ="challenge-header">
		 	        <li class='first'><%= link_to "Toutes les joutes", dialectiques_path, class: cp(dialectiques_path)%></li>
		 	   	 	<li><%= link_to "Rejoindre un débat", incomplets_path, class: cp(incomplets_path) %></li>         	
		 	        <li><%= link_to "Nouvelle joute", new_challenge_path, class: cp(new_challenge_path) %></li>
	</ul>
	
				<div class="row" id= "for-badges">
					<div class="span3">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="list">
						<%= render "shared/index", :object => @challenges %>
						<%= will_paginate @challenges, previous_label: h("<"), next_label: h(">") %>	
					</div>
				</div>
</div>