<div class="container" id="index-doulins">
	<div class="row" id="open-infos">
		<div class="span11" id="informations-doulin">
			<div class="span3" id="informations-doulin1">
				<div class="texte">
					Les Défis Dialectiques
					comment ça marche ?				
				</div>
				<div class="texte2">
					1- Je créé un défi</br>
					2 - J'attends que le défi soit complet </br>
					3- Une joute oratoire sans pitié !</br>
				</div>
			</div>
			
			<div class="span4" id="informations-doulin2">
			</div>
			<div class="span4" id="informations-doulin3">
			</div>
			<div class="span1" id="fermer-explication">
				X
			</div>
		</div>
	</div>
	
	<div class="row" id="open-infos2">
		<div class="span11" id="informations-doulin">
			<div class="span3" id="informations-doulin1">
				<div class="texte">
					<%= link_to "Créér un nouveau défi", new_challenge_path, class: "texte"%>
				</div>
				<div class="texte2">
					1- Je choisis mon type de défi</br>
					2- Je remplis les caractéristiques</br>
					3- J'invite des débatteurs </br>
					4- J'attends mon tour, en surveillant les notifications</br>
				</div>
			</div>
			
			<div class="span4" id="informations-doulin2">
			</div>
			<div class="span4" id="informations-doulin3">
			</div>
			<div class="span1" id="fermer-explication1">
				X
			</div>
		</div>
	</div>

	<ul class ="row" id ="challenge-header">

			<li class="challenge-bouton">
				Tous les défis
			</li>

	  		<li class="tiret">|</li>

			<li class="challenge-bouton1">
				En attente
			</li>

	    	<li class="tiret">|</li>

			<li class= "challenge-bouton2">
				Brèves
			</li>

	    	<li class="tiret">|</li>

			<li class="challenge-bouton3">
				<%= link_to "Nouveau défi", new_challenge_path, class: "challenge-bouton"%>
			</li>

	</ul>
	
	
	<div class="row" id="intro-doulin">
		<div class="texte">Débats Ouverts pour gens d'esprit</div>
		<div class="ouvrir-informations">
			<div class="circle">
					<div class="texte2">
						?
					</div>
			</div>
		</div>
	</div>
	
				<div class="row" id= "for-badges">
					<div class="span3">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="list">
						<%= render "shared/index", :object => @challenges %>
						<%= will_paginate @challenges, previous_label: h("<"), next_label: h(">") %>	
					</div>
				</div>
</div>