<div class="container" id="index-doulins">
	<div class="row" id="intro-doulin">
		<div class="texte">Débats codifiés en comité réduit</div>
	</div>
	</br>
	</br>
	<ul class ="row" id ="challenge-header">
		 	        <li class='first'><%= link_to "Toutes les joutes", dialectiques_path, class: cp(dialectiques_path)%></li>
		 	   	 	<li><%= link_to "Rejoindre un débat", incomplets_path, class: cp(incomplets_path) %></li>         	
		 	        <li><%= link_to "Nouvelle joute", new_challenge_path, class: cp(new_challenge_path) %></li>
	</ul>
	
				<div class="row" id= "for-badges">
					<div class="span3">
						<%= render "shared/menu_cat"%>
					</div>
	
					<div class="span8" id="list">
						<%= render "shared/index", :object => @challenges %>
						<%= will_paginate @challenges, previous_label: h("<"), next_label: h(">") %>	
					</div>
				</div>
</div>