<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Moutoners sign_up confirmation</title>
   <style type="text/css">
   	a {color: #4A72AF;}
	body, #header h1, #header h2, p {margin: 0; padding: 0;}
	#main {border: 20px Solid #aad0ff;}
	img {display: block;}
	#top-message p, #bottom-message p {color: #3f4042; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
	#header h1 {color: #000000 !important; font-family: "gotham-Bold"; font-size: 24px; margin-bottom: 0!important; padding-bottom: 0; }
	#header h2 {color: #ffffff !important; font-family: Arial, Helvetica, sans-serif; font-size: 24px; margin-bottom: 0 !important; padding-bottom: 0; }
	#header p {color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; font-size: 12px;  }
	h1, h2, h3, h4, h5, h6 {margin: 0 0 0.8em 0;}
	h3 {font-size: 28px; color: #444444 !important; font-family: Arial, Helvetica, sans-serif; }
	h4 {font-size: 18px; color: #000000 !important; font-family: "georgia"; }
	h5 {font-size: 16px; color: #444444 !important; font-family: "georgia"; }
	p {font-size: 16px; color: #000000 !important; font-family: "georgia"; line-height: 1.5;}
   </style>
</head>



<body>



<table width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff"><tr><td>



<table id="top-message" cellpadding="20" cellspacing="0" width="600" align="center">
		<tr>
			<td align="center">
				<p>Trouble viewing this email? <a href="#">View in Browser</a></p>
			</td>
		</tr>
</table><!-- top message -->



<table id="main" width="600" align="center" cellpadding="0" cellspacing="15" bgcolor="ffffff">
		<tr>
			<td bgcolor="aad0ff">
				<table id="header" cellpadding="10" cellspacing="0" align="center">
					<tr>
						<td width="570" bgcolor="ffffff" align= "center"><h1>Bonjour 							<%= link_to @user.name, user_url(@user)%>,</h1></td>
					</tr>
				</table><!-- header -->
			</td>
		</tr><!-- header -->

		<tr>
			<td></td>
		</tr>
		<tr>
			<td>
				<table id="content-1" cellpadding="20" cellspacing="0" align="center">
					<tr>
						<td width="560" valign="top" colspan="3" bgcolor="ffffff">
							<h4>Bienvenue sur <%= link_to "moutoners", root_url%>, le réseau social entièrement dédié au débat.</h4>
						</td>
					</tr>
				</table><!-- content 1 -->
			</td>
		</tr><!-- content 1 -->
		<tr>
			<td>
				<table id="content-2" cellpadding="20" cellspacing="0" align="center" >
					<tr>
						<td width="560" bgcolor="ffffff"><p>Découvrez les débats du moment.</br></br>Des débats ouverts pour gens d'esprit: Nous proposons des débats auxquels tout le monde peut participer: soyez pour, soyez contre ou suisse et argumentez en fonction.</p></td>
					</tr>
				</table><!-- content-2 -->
			</td>
		</tr><!-- content-2 -->
		<tr>
			<td>
				<table id="content-3" cellpadding="10" cellspacing="0" align="center" >
					<tr>
						<td width="570" bgcolor="ffffff" align="center">
							<%= link_to image_tag(attachments["mail-challenge1-04.png"].url), debate_url(@debate)%>
						</td>
					</tr>
				</table><!-- content-2 -->
			</td>
			
		</tr>
		<tr>
			<td>
				<table id="content-3" cellpadding="10" cellspacing="0" align="center" >
					<tr>
						<td width="570" bgcolor="ffffff" align="center">
							<%=link_to image_tag(attachments["mail-challenge2-05.png"].url), debate_url(@debate1)%>
						</td>
					</tr>
				</table><!-- content-2 -->
			</td>
			
		</tr>

		<tr>
			<td height="30"><img src="http://dummyimage.com/570x30/fff/fff" /></td>
		</tr>
		
		<tr>
			<td>
				<table id="content-2" cellpadding="20" cellspacing="0" align="center" >
					<tr>
						<td width="560" bgcolor="ffffff"><p>Les joutes verbales, des débats codifiés en comité réduit. Vous pouvez défiez vos amis, vos ennemis, ou de parfaits inconnus, en organisant de vraies joutes dialectiques.</p></td>
					</tr>
				</table><!-- content-2 -->
			</td>
		</tr><!-- content-2 -->
		<tr>
			<td>
				<table id="content-3" cellpadding="10" cellspacing="0" align="center" >
					<tr>
						<td width="570" bgcolor="ffffff" align="center">
							<%= link_to image_tag(attachments["mail-challenge3-06.png"].url), challenge_url(@challenge)%>
						</td>
					</tr>
				</table><!-- content-2 -->
			</td>
			
		</tr>
		<tr>
		</tr>
		

	</table><!-- main -->
	<table id="bottom-message" cellpadding="20" cellspacing="0" width="600" align="center">
		<tr>
			<td align="center">
				<p>You are receiving this email because you signed up for updates</p>
				<p><a href="#">Unsubscribe instantly</a> | <a href="#">Forward to a friend</a> | <a href="#">View in Browser</a></p>
			</td>
		</tr>
	</table><!-- top message -->
</td></tr></table><!-- wrapper -->



</body>
</html>