<div id="arguments">
	<% @arguments.each do |arg| %>
		<div class ="argument">
			<%= simple_format arg.content%>
			<%= simple_format arg.user.name %>
			<ol class="comments">
				<% arg.comments.each do |comment| %>
		        	<li>
					  <span class="content"><%= comment.content %></span>
					  <span class="timestamp">
					    Posted <%= time_ago_in_words(comment.created_at) %> ago.
					  </span>
						
						
					  <% if current_user?(comment.user) %>
					    <%= link_to "delete", comment, method: :delete,
					                                     data: { confirm: "You sure?" },
					                                     title: comment.content %>
						
					  <% end %>
					</li>
				<% end %>
		      </ol>
		</div>
	<%end%>
</div>	
				