<section id="correction">
<div class="container">
	<div class="centrons-tout">
	<% if @argument.argumentable.class == Debate %>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 0 %>
	<% elsif  @argument.position == 1%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 1 %>
	<% elsif  @argument.position == 2%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 2 %>
	<% elsif  @argument.position == 3%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 3 %>
	<% elsif  @argument.position == 4%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 4 %>
	<% elsif  @argument.position == 5%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 5 %>
	<% elsif  @argument.position == 6%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 6 %>
	<% elsif  @argument.position == 7%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position: 7 %>					  	
	<% elsif  @argument.position == 8%>
		<%= render "shared/argument_form", argumentable: @argumentable, argument: @argument, position:  8%>
	<% end%>
	</div>
</div>
</section>