<section id="show-group">
	<div class="container">
		<div class="row" id="group-header">
			<div class="image1">
			<%= image_tag @group.avatar.url(:huge), class: "image"%>
			</div>
			<div class="image2">
				<%= image_tag "group-header-01.png", class: "image9"%>
				<div class='text'><%= link_to @group.title, @group, class: 'text'%></div>
			</div>
		</div>
		<div class="row" id="revenir-augroupe">
			<%= link_to "Revenir au groupe", @group, class: "link"%>
		</div>

		<div class="row" id="developpement-bis">
				<% @group.group_users.each do |user|%>
					<li>
					<%= render "shared/user_badge", user: user%>
		
					<% if current_user && current_user.admin_group?(@group) %>
					<div class="invitation">
						<%= link_to "Désigner Responsable", rajouter_group_path(@group), class: "invitation"%>
					</div>
					<% end %>
					</li>
				<% end %>
		</div>
		
		<% if current_user && current_user.admin_group?(@group)%>
		<div class="row" id="revenir-augroupe2">
			Invitez de nouvelles personnes
		</div>
		<div class="row" id="developpement-bis">
				<% @group.group_toinvite.shuffle.each do |user|%>
					<li>
					<%= render "shared/user_badge", user: user%>
					<div class="invitation"><%= link_to "inviter",invite_group_group_user_path(user), class: "invitation"%></div>
					</li>
				<% end %>
		</div>
		<% end %>
		

		
	</div>
</section>