<div class="span3" id="profile-badge">
	
	<div class="row" id="image1">
		<%= link_to image_tag(user.avatar.url(:medium)), user, class: "image"%>
	</div>
	<div class="row" id='nom-profile'>
		<%= link_to user.name, user, class: 'texte'%>
	</div>
	
	<% if current_user && current_user == user %>
	<div class="row" id="boutons-profile">
		<div class="boutons-sociaux-image">
			<div class="boutons-sociaux2">
				NOUVELLE IMAGE
			</div>
		</div>
		<div class="nouvelle-image">
			<%= form_for(user) do |f| %>
			<%= user.content%>
			  <% if user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

			      <ul>
			      <% user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
				<div class="field2">
			    	<%= f.file_field :avatar, placeholder: "Rajouter une image" %>
				</div>

			  </div>
			  <div class="actions">
			    <%= f.submit "OK", class: "actions2" %>
			  </div>
			<% end %>
		</div>
	</div>
	<% end%>

	<div class="row" id="description-profile">
		<% if current_user && current_user == user && user.content == nil%>
			<%= form_for(user) do |f| %>
			<%= user.content%>
			  <% if user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

			      <ul>
			      <% user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.text_field :content, class: "field2", placeholder: 'Courte description' %>
			  </div>
			  <div class="actions">
			    <%= f.submit "OK", class: "actions2" %>
			  </div>
			<% end %>
		<% else %>
			<div class="texte">
				<% if user.content.presence %>
					<%= h Rinku.auto_link(user.content, :all, 'target="_blank"').gsub(/\n/, '<br/>').html_safe%>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div class="row" id='boutons-profile'>

		<% if current_user && current_user == user%>
			
		<% elsif current_user && current_user.following?(user) %>
		<div class="boutons-sociaux">
			<%= link_to"NE PLUS SUIVRE", unfollow_user_path(user), class: "boutons-sociaux3"%>
		</div>
		<% elsif current_user %>
		<div class="boutons-sociaux">
			<%= link_to"SUIVRE", follow_user_path(user), class: "boutons-sociaux2"%>
		</div>
		<% else%>
		<div class="boutons-sociaux">
			<%= link_to "SUIVRE", new_user_session_path, class: "boutons-sociaux2" %>
		</div>
		<% end %>
		
		
		<%if current_user && current_user == user%>
		<% elsif current_user && current_user.defier?(user)%>
		<div class="boutons-sociaux">
			<%= link_to "DEFIER", new_challenge_path, class: "boutons-sociaux2"%>
		</div>
		<% elsif current_user %>
		<div class="boutons-sociaux">
			<%= link_to "DEFIER", defier_user_path(user), class: "boutons-sociaux2"%>
		</div>
		<% else %>
		<div class="boutons-sociaux">
			<%= link_to "DEFIER", new_user_session_path , class: "boutons-sociaux2"%>
		</div>
		<% end %>
	</div>
	
	<div class="row" id="stats-profil">
		<div class="texte1"><%= user.followers.count%></div> <div class="texte2">moutons</div>
	</div>

	<div class="row" id="stats-profil">
		<div class="texte1"><%= user.groups.count%></div> <div class="texte2">groupes</div>
	</div>
	<p></p>
</div>