<section id="new-argument">
	

		<%= form_for [argumentable, argument] do |f| %>
		
		<% if argument.errors.any? %>
		<div class="error-messages-newarg">
			<span class="text">Quelques petites erreurs: </span>
			<ul>
				<% argument.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<%end%>
			</ul>
		</div>
	 	<%end%>
	<div class="span6" id='new-argument3'>
		<div class='row'>
			<div class='span4' id="title-form">
					<%= f.text_field:title, rows:1, class: "title-newarg", placeholder: "Titre (moins de 100 caractères)" %>
			</div>
		</div>
		<div class='row'>
			<div class='span5' id="texte-form">
			<%= f.text_area:content, class: "text-newarg", placeholder: "Vas y! 																			 	Un minimum de 300 caractères est demandé ...
			"%>
			<%= f.hidden_field :position, :value => position %>
			</div>
		</div>
		<div class='row'>
			<div class='actions-newarg'>
			<%= f.submit'PUBLIER', :class => 'actions'%>
			<% end %>
		 	</div>
		</div>
	</div>
</section>



