<section id="new-argument">
	

		<%= form_for [argumentable, argument] do |f| %>
		
		<% if argument.errors.any? %>
		<div class="error-messages-newarg">
			<h2>Quelques petites erreurs : </h2>
			<ul>
				<% argument.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<%end%>
			</ul>
		</div>
	 	<%end%>
	<div class="span6" id='new-argument1'>

		<div class='row'>
			<div class='span4' id="title-form">
					<%= f.text_field :title, rows:1, class: "title-newarg", placeholder: "Ici, le titre de l'argument" %>
			</div>
		</div>
		
		<div class='row'>
			<div class="span4" id="forme-argument">
				<div class='texte'> Rajouter une image :</div>
				<div class="box-pic"><%= image_tag("box-pic-01.png")%></div>							
			</div>
		</div>
		
		<div class="row" id="a-ouvrir-image">
			<div class='argument-photo'>
					<div class="field">
						<div class="field2">
				    		<%= f.file_field :avatar, placeholder: "Ajouter une image" %>
						</div>
					</div>
					<div class="legende">
						<%= f.text_area :legende_graphe, class: "texte_legende", placeholder: "Légende et auteur de la photo"%>
					</div>
			</div>
		</div>
		
		<div class='row' id='a-ouvrir-argumentforme'>
			<div class="argument-texte">
				<div class='span5' id="texte-form">
				<%= f.text_area :content, class: "text-newarg", placeholder: "Tapez votre texte ici ..."%>
				<%= f.hidden_field :position, :value => position %>
				</div>
			</div>
		</div>
		

		
		<div class='row'>
			<div class='actions-newarg'>
			<%= f.submit'PUBLIER', :class => 'actions'%>
			<% end %>
		 	</div>
		</div>
	</div>
</section>