<section id="argument-pour">
		<div class="row" id='initial'>
				<% if current_user && current_user == argument.user %>
				<% if argument.argumentable.class == Debate %>
				<div class="modifs">
					<div class='texte'><%= link_to "Modifier", edit_argument_path(argument), class: "texte" %></div>
					<div class= 'texte2'><%= link_to "Effacer", argument_path(argument), :method => :delete, class: "texte2" %></div>
				</div>
				<% elsif argument.modifiable? %>
				<div class="modifs2">
					<div class='texte'><%= link_to "Modifier", edit_argument_path(argument), class: "texte" %></div>
				</div>
				<% end %>
				<% elsif current_user.try(:admin?)%>
					<div class="modifs">
						<div class='texte'><%= link_to "Modifier", edit_argument_path(argument), class: "texte" %></div>
						<div class= 'texte2'><%= link_to "Effacer", argument_path(argument), :method => :delete, class: "texte2" %></div>
					</div>
				<% end%>
			
				<div class id="bleu">
		        <div class="row" id="descente">
	                 <div class="span2">
	                 	<div class="user">
							<%= image_tag argument.user.avatar.url(:medium), class: "image" %>
						</div>
						<div class="nom-user">
	                 	<%= link_to argument.user.fitting_name, argument.user %>
	                 	</div>
	                 </div>
	                 <div class="span4" id="descente2">
						<div class="row" id='title5'>
	                 		<div class="title">
	                 			<%= argument.title%>
							</div>
							<div class="cont"><%=argument.content.split(' ').slice(0,36).join(' ')%> ...
	                 		</div>
						</div>
						<div class="row" id="coco1">
		        			<div class="stats">
							  <%= argument.count_positive %>
							  <%= link_to image_tag("like-argument.png"), like_argument_path(argument, type: "up"), method: "post"%> |
							  <%= argument.count_negative %>
							  <%=link_to image_tag("dislike-argument.png"), like_argument_path(argument, type: "down"), method: "post" %>


							  <%= image_tag("box-texte.png", class: "box")%>
							  <%= image_tag("vote-oui.png", class: "oui")%>	
									
							  <div class='toggleOpen'>Lire la suite...</div>								
	                 		</div>
						</div>
						
						<div class="row" id="coco">
	                 		<div class="toggle">
							  <div id="argcontent">
								<%=h(argument.content).gsub(/\n/, '<br/>').html_safe %>
							  </div>							
	                 		</div>
						</div>
						
	                 </div>
		     	</div>
		
				<div class="toggleClose2">
					<div class="toggleClose"><a>Refermer l'argument</a></div>
					<div class="arrow-up-argument"></div>
				</div>
	         </div>
	    </div>
	
     <div class="argcoms">        
        <div class="row" id="argcom-pour">
	        <div class="span8">
		    		<% argument.argcoms.each do |argcom| %>
    	    		 <%= render "shared/argcom_badge", :argcom => argcom %>
    	    		<% end %>
					<% if signed_in? && argument.argumentable_type == "Debate"%>
			    		<%= render "shared/argcom_form", :argcom => argument.argcoms.new, :argument => argument %>
			    	<%end%>
		    </div>
		</div>
	</div>
</section>