<section id="argument-pour">
		<div class="row" id='initial'>
		     <div class id="bleu">
		        <div class="row">
	                 <div class="span2">
	                 	<div class="user">
							<%= image_tag argument.user.avatar.url(:medium), class: "image" %>
						</div>
						<div class="nom-user">
	                 		<%= link_to argument.user.name, argument.user %>
	                 	</div>
	                 </div>
	                 <div class="span4">
						<div class="row" id='title5'>
	                 		<div class="title">
	                 			<h2><%= argument.title%></h2>
							<span class="cont"><%=argument.content.split(' ').slice(0,36).join(' ')%> ...</span>
	                 		</div>
						</div>
						<div class="row" id="coco1">
		        			<div class="stats">
							  <%= argument.count_positive %>
							  <%= link_to image_tag("like-argument.png"), like_argument_path(argument, type: "up"), method: "post"%> |
							  <%= argument.count_negative %>
							  <%=link_to image_tag("dislike-argument.png"), like_argument_path(argument, type: "down"), method: "post" %>


							  <%= image_tag("box-texte.png", class: "box")%>
							  <%= image_tag("vote-oui.png", class: "oui")%>	
									
							  <a class='toggleOpen'>Lire la suite... </a>								
	                 		</div>
						</div>
						
						<div class="row" id="coco">
	                 		<div class="toggle">
							  <div id="argcontent">
	                 			<%= simple_format argument.content%>
							  </div>
							<p class="toggleClose"><a>Refermer l'argument</a></p>
							
	                 		</div>
						</div>
	                 </div>
		     	</div>
	         </div>

	    </div>
     <div class="argcoms">        
        <div class="row">
	        <div class="span8">
		    		<% argument.argcoms.each do |argcom| %>
    	    		 <%= render "shared/argcom_badge", :argcom => argcom %>
    	    		<% end %>
		    </div>
		</div>
		<div class="row">
		    <% if signed_in? && argument.argumentable_type == "Debate"%>
		    	<%= render "shared/argcom_form", :argcom => argument.argcoms.new, :argument => argument %>
		    <%end%>
	   </div>
	</div>
</section>