<section id="argcom2">
		<div id="imageuser">
			<% if current_user %>
				<%= image_tag current_user.avatar.url(:small), class: "image" %>
			<% elsif %>
				<%= image_tag ("default_small.jpg")%>
			<% end%>
		</div>
		<div class="span1" id="user">
			<% if current_user%>
				<%= current_user.fitting_name%>
			<% elsif %>
				Connecte-toi
			<% end%>
		</div>
		<div class="span6" id="content">
			<%= form_for(argcom) do |f| %>
				  <% if argcom.errors.any? %>
					<div class="error-messages-newarg">
						<h2>Quelques petites erreurs : </h2>
						<ul>
							<% argcom.errors.full_messages.each do |msg|%>
								<li><%= msg %></li>
							<%end%>
						</ul>
					</div>
		 		<%end%>
            	
			    <%= f.text_field :content, placeholder: "Réaction à l'argument en 140 signes", class: "text-reaction" %>
				<%= f.hidden_field :argument_id, :value => argument.id %>
			  	<%= f.submit "OK", class: "reaction" %>
			<% end %>
		</div>
</section>