<%= form_for comment do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "comment ..." %>
	<%= f.hidden_field :commentable_id, :value => commentable.id %>
	<%= f.hidden_field :commentable_type, :value => type %>
  <%= f.submit "Post" %>
</div>
<% end %>