<section id='group-badge1'>
	<div class="badge2">
		<%= link_to image_tag(group.avatar.url(:large), class: "image"), event_path(group)%>
		<%= link_to(image_tag("group_badge.png", class: "image2"), event_path(group))%>
		<div class="row" id="title-group">
			<div class="title"><%= link_to group.title, group, class: "title"%></div>
		</div>
	</div>
	<div class="containant2">
		<div class="rejoindre">
			<%  if current_user && current_user.in_event?(group)%>
				<%= link_to "Vous y participez", event_path(group), class: "join" %>
			<% elsif group.state == "open"%>
				<%= link_to "Participer", rejoindre_event_path(group), class: "join" %>
			<%else%>
				<span class="join">Inscriptions closes</span>
			<% end %>
		</div>
		
		<div class="icones-users">
			<div class="ligne1">
				<li class="imageuser">
					<% if group.users.count >=1 %>
					<%= link_to image_tag(group.users.first.avatar.url(:small)), group.users.first, class: "image1"%>
					<%end%>
					</li>
					
					<li class="imageuser">
						<% if group.users.count >=2 %>
						<%= link_to image_tag(group.users.second.avatar.url(:small)), group.users.second, class: "image2"%>
						<%end%>
						</li>
					
						<li class="imageuser">
							<% if group.users.count >=3 %>
							<%= link_to image_tag(group.users.third.avatar.url(:small)), group.users.third, class: "image3"%>
							<%end%>
							</li>
				
					
					<li class="imageuser">
						<% if group.users.count >=4 %>
						<%= link_to image_tag(group.users.fourth.avatar.url(:small)), group.users.fourth, class: "image4"%>
						<%end%>
						</li>
					
			</div>
			<div class="ligne1">
				<li class="imageuser">
					<% if group.users.count >=5 %>
					<%= link_to image_tag(group.users[4].avatar.url(:small)), group.users[5], class: "image1"%>
					<%end%>
					</li>
					
					<li class="imageuser">
						<% if group.users.count >=6 %>
						<%= link_to image_tag(group.users[5].avatar.url(:small)), group.users[6], class: "image2"%>
						<%end%>
						</li>
					
						<li class="imageuser">
							<% if group.users.count >=7 %>
							<%= link_to image_tag(group.users[6].avatar.url(:small)), group.users[7], class: "image3"%>
							<%end%>
						</li>
				
					
					<li class="imageuser" id="lastuserprof">
						<%=group.users.count%>
					
					</li>
					
			</div>
			
			
		</div>
	</div>
</section>