<section id="home-badge">
	 <div class="row">
		<div class="span10 offset1">
			<div id="title">
				
				<div class="row" id="encemoment">
					<div class="title">EN CE MOMENT SUR MOUTONERS ...</div>
					<div class="suivant"><div class="text">Débat suivant</div>
										<%=image_tag("fleche-droite.png", class: "flechehome")%>
					</div>
				</div>
				
				<div class="row">
					
					<div class="span5" id="gauche-ouvert">
						
					    <div class="image1">	
							<%= link_to image_tag(debate.avatar.url(:medium)), debate, class: "image"%>
						</div>
						<div class="row" id="stats2">								

							<% if debate.evaluations.any?%>
							<div class="reslutats-oui">
								<div class="oui1">OUI</div>
								<div class="oui3">|</div>
								<div class="oui2"><%=100*debate.count_for / (debate.count_neutral + debate.count_for + debate.count_against)%>%</div>
							</div>
							
							<div class="reslutats-suisse">
								<div class="suisse1"><%= image_tag "croix-suisse.png"%></div>
								<div class="suisse3">|</div>
								<div class="suisse2"><%=100*debate.count_neutral / (debate.count_neutral + debate.count_for + debate.count_against)%>%</div>
							</div>


							<div class="reslutats-non">
								<div class="non1">NON</div>
								<div class="non3">|</div>
								<div class="non2"><%=100*debate.count_against / (debate.count_neutral + debate.count_for + debate.count_against)%>%</div>
							</div>
							<%end%>
								
					     </div>
					</div>
					
					<div class="span5" id="droite-ouvert">

						<div class="row" id="title2">
							<%= link_to debate.title, debate, class: "title3"%>
						</div>
						<div class="row" id="content">
							<div class="content"><%= debate.content%></div>
						</div>
						
						<div class="row" id="vote">
							<span class="vote2">VOTEZ</span>
							<% if current_user && debate.in_deb?(current_user) && debate.valeur_vote(current_user) == 1.0 %>
				 			<li class="oui-oui2"><%= link_to "OUI", vote_debate_path(debate, type: "up"), method: "post", :class => "oui" %>
							</li>
							<% elsif current_user%>
				 			<li class="oui-oui"><%= link_to "OUI", vote_debate_path(debate, type: "up"), method: "post", :class => "oui" %>
							</li>
							<% else%>
				 			<li class="oui-oui"><%= link_to "OUI", new_user_session_path, :class => "oui" %>
							</li>														
							<% end%>

							<% if current_user && debate.in_deb?(current_user) && debate.valeur_vote(current_user) == 0.0 %>
							<li class="suisse-suisse2"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% elsif current_user%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% else%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), new_user_session_path, class: "suisse" %></li>							
							<%end%>
							<% if current_user && debate.in_deb?(current_user) && debate.valeur_vote(current_user) == -1.0 %>
							<li class="non-non2"><%= link_to "NON", vote_debate_path(debate, type: "down"), method: "post", :class => "non" %></li>				
							<%elsif current_user%>
							<li class="non-non"><%= link_to "NON", vote_debate_path(debate, type: "down"), method: "post", :class => "non" %></li>	
							<% else%>
							<li class="non-non"><%= link_to "NON", new_user_session_path, :class => "non" %></li>														
							<%end%>
							<div class="suissse">SUISSE</div>
						</div>
						
					</div>
					
	 			</div>
	 		</div>
	 	</div>

	</div>
</section>
