<section id="user-badge">
	<div class="row">
		<div class="span2">
			<% if user.class == User%>
			<div class="image1">				
				<%= link_to image_tag(user.avatar.url(:small)), user, class: "image"%>
			</div>
			<div class="nom">
				<%= link_to user.name, user, class: "nom"%>
			</div>
			<div class="contexte">
				<% if user.content.presence %>
					<%= h Rinku.auto_link(user.content).gsub(/\n/, '<br/>').html_safe%>
				<% end %>
			<div>
							 
			<% else%>  
			<div class="image1">
				<%= link_to image_tag(user.avatar.url(:medium)), "#", class: "image"%>
			</div>
			<div class="nom">
				<%= link_to user.name, "#", class: "nom"%>
			</div>
			<div class="contexte">
					<%= h Rinku.auto_link(user.url).gsub(/\n/, '<br/>').html_safe%>
			<div>
			<% end%>				
		</div>
	</div>
</section>