<section id="debate-form">
	<%= form_for(@debate) do |f| %>
		<%= render '/shared/error_messages', object: f.object %>
			<%= f.hidden_field :group, value: group%>

	<div class="row" id="title-new">
		<div class="row" id="title-new2">
		      	<%= f.text_field :title, placeholder: "Titre du débat ...", class: "title", "data-max-char" => "20"%>	
		</div>

		<div class="row" id="maincontent-new">
			<div class="span5" id="content1">
				<div class="row" id="category_list">
					<div class="intro">
						Thème du débat
					</div>
					<div class="emotion">
						<%= radio_button_tag "debate[cat_id]", Cat.all.first.id, @debate.cat_id == 1, :checked => 1%>
						<label for="debate_cat_id_1" class="choix1"><%= image_tag ("cat-sports.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all.second.id, @debate.cat_id == 2 %>
						<label for ="debate_cat_id_2"><%= image_tag ("cat-quotidien.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all.third.id, @debate.cat_id == 3 %>
						<label for="debate_cat_id_3"><%= image_tag ("cat-monde.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all.fourth.id, @debate.cat_id == 4%>
						<label for ="debate_cat_id_4"><%= image_tag ("cat-economie.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all.fifth.id, @debate.cat_id == 5 %>
						<label for="debate_cat_id_5"><%= image_tag ("cat-culture.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all[5].id, @debate.cat_id == 6 %>
						<label for ="debate_cat_id_6"><%= image_tag ("cat-sciences.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all[6].id, @debate.cat_id == 7 %>
						<label for="debate_cat_id_7"><%= image_tag ("cat-philosophie.png")%></label>
						<%= radio_button_tag "debate[cat_id]", Cat.all[7].id, @debate.cat_id == 8 %>
						<label for ="debate_cat_id_8"><%= image_tag ("cat-societe.png")%></label>							
					</div>
				</div>
				<div class="row" id="tags_challenge">
					<%= f.text_field :tag_list, class: "tags", placeholder: "Tag1, Tag2, Tag3 ..."%>
				</div>

			</div>
			<div class= "span5" id="content2">
				<div class="row" id="description-challenge">
					<%= f.text_area :content, class: "description", placeholder: "Introduire le débat" %>						</div>
				<div class="row" id="rajouter-image">
						Rajouter une image</br>
						<%= f.file_field :avatar, placeholder: "Rajouter une image", class: "field-image"%>
				</div>
				
				
			</div>						
		</div>
	</div>
	
	<div class="row">
		<div class="row" id ="openning-context">
			<div class="texte">Rajouter un contexte</div>
			<div class="arrow-down-context"></div>
			<div class="arrow-up-context"></div>
		</div>
		<div class "row" id="to-be-closed">
			<div id="effective-context"><div class="text"><%= f.text_area :context, :class => 'edit2'%></div></div>
		</div>
	</div>
	
	<div class="row" id='submit-challenge'>
			<%= f.submit "Créér le débat", class: "action" %>
	</div>		
			<% end %>	
</section>
