<section id="partenariat-debate">
	<div class="container">
		<% if current_user && current_user.try(:admin?)%>
		<div id="share2">
			<%= @debate.state%>
					<div><%= link_to "promote1", promote1_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote2", promote2_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote3", promote3_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote4", promote4_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote5", promote5_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "partenaire", promote5_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "edit",edit_debate_path(@debate), class: "text"%>    </div>                                                        
					<div><%= link_to "publush",publish_debate_path(@debate), class: "text"%>    </div>                                                        
		</div>                                                                
		<% end %>		
		
	 <div class="row">
		
		<div class="span10 offset1" id="eliassakr">		
			<div id="title">
				<div class="row" id="touthaut">
					<div id="touthaut1">
						Lire l'article lu sur <%= link_to @partenaire.name, "http://#{@partenaire.url}"%>
					</div>
				</div>
				
				<div class="row">
					
					<div class="span5" id="gauche-ouvert">
						
					    <div class="image1">	
							<%= link_to image_tag(@debate.avatar.url(:medium)), @debate, class: "image"%>
							<%= image_tag("ouvert-image.png", alt: "Moutoners", class: "image")%>							

						</div>
						
						<div class="row" id="statss">
							<div id="stats">
							<div class="stat1">
								<%= @debate.count_for+@debate.count_against + @debate.count_neutral%>
								<%= image_tag("icone-debat-3.png", alt: "Moutoners", class: "image-bulle1")%>
								|

								<span class="stat2"><%= @debate.arguments.count%></span>
								<%= image_tag("icone-debat.png", alt: "Moutoners", class: "image-bulle2")%>
								|

								<span class="stat2"><%= @debate.argcoms.count%></span>
								<%= image_tag("icone-debat-2.png", alt: "Moutoners", class: "image-bulle3")%>
							</div>
							</div>
						</div>
					</div>
					
					<div class="span5" id="droite-ouvert">
						<div class="row" id="title2">
							<%= link_to @debate.title, @debate, class: "title3"%>
						</div>
						<div class="row" id="tags_list_doulin">
							<% @debate.tags.each do |l|%>
								<li><%= link_to "##{l.name}", list_path(:view =>'tag', :tag => l.name), class: "tags"%></li>
							<% end%>
						</div>
						<div class="row" id="content">
							<div class="content"><%= h Rinku.auto_link(@debate.content).gsub(/\n/, '<br/>').html_safe%></div>
						</div>
						<div class="row" id="vote">
							<div class="suissse">SUISSE</div>
							<span class="vote2">VOTEZ</span>
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == 1.0 %>
				 			<li class="oui-oui2"><%= link_to "OUI", vote_debate_path(@debate, type: "up"), method: "post", :class => "oui" %>
							</li>
							<% elsif current_user%>
				 			<li class="oui-oui"><%= link_to "OUI", vote_debate_path(@debate, type: "up"), method: "post", :class => "oui" %>	
							</li>	
							<% else %>
								<li class="oui-oui"><%= link_to "OUI", new_user_session_path, :class => "oui" %></li>						
							<% end%>
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == 0.0 %>
							<li class="suisse-suisse2"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(@debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% elsif current_user%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(@debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% else%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), new_user_session_path, method: "post", class: "suisse" %></li>
							<%end%>
							
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == -1.0 %>
							<li class="non-non2"><%= link_to "NON", vote_debate_path(@debate, type: "down"), method: "post", :class => "non" %></li>	
							<%elsif current_user%>
							<li class="non-non"><%= link_to "NON", vote_debate_path(@debate, type: "down"), method: "post", :class => "non" %></li>			
							<%else%>
							<li class="non-non"><%= link_to "NON", new_user_session_path, method: "post", :class => "non" %></li>							
							<%end%>
							
						</div>
						<div class="row" id="vote">								

								<% if @debate.evaluations.any?%>
									<li class="oui-oui3"><%=100*@debate.count_for / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>

									<li class="suisse-suisse3"><%=100*@debate.count_neutral / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>

									<li class="non-non3"><%=100*@debate.count_against / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>
								<%end%>

						</div>


						
					</div>
				</div>
	 		</div>
	 	</div>
		
		<div class="partenaire">
			<div class="lien">
				Lien de l'article:
			</div>
			<%= render 'shared/user_badge', user: @partenaire%>
		</div>
		
		<div class="row" id="explications">
			<%= image_tag("bulle-explication-01.png", class: "bulle1")%>
			<%= image_tag("bulle-explication1-01.png", class: "bulle2")%>
			<%= image_tag("bulle-explication0-01.png", class: "bulle3")%>													
		</div>		
							
		<div id="share">
			<span>Partagez le débat sur</br></span>
				<div class="ok">
				<%=image_tag('facebook-blanc.png', :alt => 'Moutoners', class: "image")%>
				<div class="okk"><%= social_share_button_tag(@debate.title) %></div></div>
				<div class="okkk">
				<%=image_tag('twitter-blanc-01.png', :alt => 'Moutoners', class: "image")%>
				<div class="okkkk"><%= twitter_button :url=> 'https://moutoners.com/debats' %>></div></div>

		</div>

		</div>