<%= @debate.rapport%>
<section id="open-debate">
	<div class="container">
		<div class="row">
			<div class="span10 offset1">
				<div id="title">
					<div class="span5">
				        <div class="image" id="image">	
							<div class="row">
						        <div id="stats2">
								<%= render "shared/voting_bar", rapport: @debate.rapport%>
								</br>
								| <%= pluralize @debate.count_for, "vote pour" %>
					        	| <%= pluralize @debate.count_against, "vote contre" %>
					        	| <%= pluralize @debate.count_neutral, "personnes suisses" %>
						        </div>
							</div>
							</div>
				    </div>
					<div class= "span5">
						<div id="title2">
							<h1><%= @debate.title%></h1>
							</br>
							<%= @debate.content%>
							</br>
							Tags: <%= raw @debate.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
							</br>
							<div class="row">
								<%if current_user %>
								<div class="span2" id="vote">
									 <%= link_to "up", vote_debate_path(@debate, type: "up"), method: "post", :class => "vote2" %>
								</div>
								<div class="span2" id="vote">
									 <%= link_to "down", vote_debate_path(@debate, type: "down"), method: "post", class: "vote2" %>
								</div>
								<div id="vote" class="span2">
									 <%= link_to "neutral", vote_debate_path(@debate, type: "neutral"), method: "post", class: "vote2" %>
								</div>
								<%else%>
								<div class="connecte-toi">	
									<h3>CONNECTE TOI POUR VOTER</h3>
								</div>
								<%end%>
							</div>
							
							<div class="span5" id="blank">
							</div>
							
							<div class="row">
								<div class="span1" id="stats">
									<h2><%= @debate.reputation_for(:votes).to_i%> vote |</h2>
								</div>
								
								<div class="span1" id="stats">
									<h2><%= @debate.arguments.count%> arg |</h2>
								</div>
								
								<div class="span1" id="stats">
									<h2><%= @debate.argcoms.count%> com</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="arguments">
			<div id="choix box">
				<% if signed_in? %>
					<% if @debate.has_evaluation?(:votes, current_user) %>
						<%= link_to "New argument", [:new, @argumentable, :argument] %>
					<% else  %>
					"il faut voter pour le débat pour pouvoir participer!"
					<%end%>
				<%end%>
			</div>
			
				<% @arguments.each do |argument| %>
				<div class="span10 offset1">
					<% if @debate.valeur_vote(argument.user) == 1.0 %>
						<%= render "shared/argument_badge", :argument => argument, :argumentable => @debate %>
					<%elsif @debate.valeur_vote(argument.user) == - 1.0 %> 
						<%= render "shared/argument_contre_badge", :argument => argument, :argumentable => @debate %>
					<% else%>
						<%= render "shared/argument_neutre_badge", :argument => argument, :argumentable => @debate %>
					<% end %>

						<% if user_signed_in? %>
							<% if @debate.has_evaluation?(:votes, current_user) %>
								<%= link_to "Reaction", argument_path(argument) %>
							<% else  %> il faut voter pour le débat pour pouvoir réagir pour pouvoir réagir!
							<% end %>
						<%end%>
				</div>
				<%end%>

		</div>		
	</div>
</section>





