<section id="open-debate">
	<div class="container">
		<div class="row">
			<div class="span10 offset1">
				<div id="title">
					<div class="span5">
				        <div class="image" id="image"></div>
						<div class="span4">
							| <%= pluralize @debate.count_for, "vote pour" %>
							| <%= pluralize @debate.count_against, "vote contre" %>
							| <%= pluralize @debate.count_neutral, "personnes suisses" %>
						</div>
				    </div>
					<div class= "span5">
						<div id="title2">
							<h1><%= @debate.title%></h1>
							</br>
							<%= @debate.content%>
							</br>
							Tags: <%= raw @debate.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
							</br>
							<div class="row">
								<%if current_user %>
								<div class="span2" id="vote">
									 <%= link_to "up", vote_debate_path(@debate, type: "up"), method: "post", :class => "vote2" %>
								</div>
								<div class="span2" id="vote">
									 <%= link_to "down", vote_debate_path(@debate, type: "down"), method: "post", class: "vote2" %>
								</div>
								<div id="vote" class="span2">
									 <%= link_to "neutral", vote_debate_path(@debate, type: "neutral"), method: "post", class: "vote2" %>
								</div>
								<%else%> Connecte toi pour voter
								<%end%>
							</div>
							
							<div class="span5" id="blank">
							</div>
							
							<div class="row">
								<div class="span1" id="stats">
									<h2><%= @debate.reputation_for(:votes).to_i%> vote |</h2>
								</div>
								
								<div class="span1" id="stats">
									<h2><%= @debate.arguments.count%> arg |</h2>
								</div>
								
								<div class="span1" id="stats">
									<h2><%= @debate.argcoms.count%> com</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<%= @debate.state %>
<% if @debate.state == "online"%>
	<%= link_to "publish", publish_debate_path(@debate), method: "post", :class => "vote2" %>
<%end%>


<h2>Arguments</h2>

<div id="arguments">
		<% @arguments.each do |argument| %>
			<% if @debate.valeur_vote(argument.user) == 1.0 %>
				<%= render "shared/argument_badge", :argument => argument, :argumentable => @debate %>
			<%elsif @debate.valeur_vote(argument.user) == - 1.0 %> 
				<%= render "shared/argument_contre_badge", :argument => argument, :argumentable => @debate %>
			<% else%>
				<%= render "shared/argument_neutre_badge", :argument => argument, :argumentable => @debate %>
			<% end %>
			<%= argument.id%>
			
			</br>
		<% if user_signed_in? %>
			<% if @debate.has_evaluation?(:votes, current_user) %>
				<%= link_to "Reaction", argument_path(argument) %>
			<% else  %> il faut voter pour le débat pour pouvoir réagir pour pouvoir réagir!
			<% end %>
		<%end%>
		<%end%>
		
</div>

</br>
<% if user_signed_in? %>
<% if @debate.has_evaluation?(:votes, current_user) %>
	<%= link_to "New argument", [:new, @argumentable, :argument] %>
<% else  %> il faut voter pour le débat pour pouvoir participer!
<% end %>
<%end%>



