<% if @debate.article_id.presence %>
	<%= render "partenariat", :debate => @debate%>
<% else %>

<section id="open-debate">
	<div class="container">
		<% if current_user && current_user.try(:admin?)%>
		<div id="share2">
			<%= @debate.state%>
					<div><%= link_to "promote1", promote1_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote2", promote2_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote3", promote3_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote4", promote4_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "promote5", promote5_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "partenaire", promote5_debate_path(@debate), class: "text"%>  </div>
					<div><%= link_to "edit",edit_debate_path(@debate), class: "text"%>    </div>                                                        
					<div><%= link_to "publush",publish_debate_path(@debate), class: "text"%>    </div>                                                        
		</div>                                                                
		<% end %>		
		<div id="share">
			<div class="element">
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_4"></a>				
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53187d105cd934bc"></script>			
			</div>
		</div>
		
	 <div class="row">
		<div class="span10 offset1">
			<div id="title">
				<div class="row">
					
					<div class="span5" id="gauche-ouvert">
						
					    <div class="image1">	
							<%= link_to image_tag(@debate.avatar.url(:medium)), @debate, class: "image"%>
							<%= image_tag("ouvert-image.png", alt: "Moutoners", class: "image")%>							

						</div>
						
						<div class="row" id="statss">
							<div id="stats">
							<div class="stat1">
								<%= @debate.count_for+@debate.count_against + @debate.count_neutral%>
								<%= image_tag("icone-debat-3.png", alt: "Moutoners", class: "image-bulle1")%>
								|

								<span class="stat2"><%= @debate.arguments.count%></span>
								<%= image_tag("icone-debat.png", alt: "Moutoners", class: "image-bulle2")%>
								|

								<span class="stat2"><%= @debate.argcoms.count%></span>
								<%= image_tag("icone-debat-2.png", alt: "Moutoners", class: "image-bulle3")%>
							</div>
							</div>
						</div>
					</div>
					
					<div class="span5" id="droite-ouvert">
						<div class="row" id="title2">
							<%= link_to @debate.title, @debate, class: "title3"%>
						</div>
						<div class="row" id="tags_list_doulin">
							<% @debate.tags.each do |l|%>
								<li><%= link_to "##{l.name}", list_path(:view =>'tag', :tag => l.name), class: "tags"%></li>
							<% end%>
						</div>
						<div class="row" id="content">
							<div class="content"><%= h Rinku.auto_link(@debate.content).gsub(/\n/, '<br/>').html_safe%></div>
						</div>
						<div class="row" id="vote">
							<div class="suissse">SUISSE</div>
							<span class="vote2">VOTEZ</span>
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == 1.0 %>
				 			<li class="oui-oui2"><%= link_to "OUI", vote_debate_path(@debate, type: "up"), method: "post", :class => "oui" %>
							</li>
							<% elsif current_user%>
				 			<li class="oui-oui"><%= link_to "OUI", vote_debate_path(@debate, type: "up"), method: "post", :class => "oui" %>	
							</li>	
							<% else %>
								<li class="oui-oui"><%= link_to "OUI", new_user_session_path, :class => "oui" %></li>						
							<% end%>
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == 0.0 %>
							<li class="suisse-suisse2"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(@debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% elsif current_user%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(@debate, type: "neutral"), method: "post", class: "suisse" %></li>
							<% else%>
							<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), new_user_session_path, method: "post", class: "suisse" %></li>
							<%end%>
							
							<% if current_user && @debate.in_deb?(current_user) && @debate.valeur_vote(current_user) == -1.0 %>
							<li class="non-non2"><%= link_to "NON", vote_debate_path(@debate, type: "down"), method: "post", :class => "non" %></li>	
							<%elsif current_user%>
							<li class="non-non"><%= link_to "NON", vote_debate_path(@debate, type: "down"), method: "post", :class => "non" %></li>			
							<%else%>
							<li class="non-non"><%= link_to "NON", new_user_session_path, method: "post", :class => "non" %></li>							
							<%end%>
							
						</div>	
						<div class="row" id="vote">								

								<% if @debate.evaluations.any?%>
									<li class="oui-oui3"><%=100*@debate.count_for / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>

									<li class="suisse-suisse3"><%=100*@debate.count_neutral / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>

									<li class="non-non3"><%=100*@debate.count_against / (@debate.count_neutral + @debate.count_for + @debate.count_against)%>%</li>
								<%end%>
								

						</div>


						
					</div>
					
	 			</div>
	 		</div>
	 	</div>
		
		<div class="span1" id="follow">
			<div class="follow">
	   		<% if current_user && current_user.following?(@debate)%>
	   			<div class="texte2"><%= link_to"Fuir", unfollow_debate_path(@debate), class: "texte"%></div>
	   		<% else %>
	   			<div class="texte"><%= link_to"Suivre", follow_debate_path(@debate), class: "texte"%></div>
	   		<% end %>
	   			<div class="arrow-left"></div>
	   		</div>
		</div>
	
	   	<div class="span1" id="catcat">
			<div class="arrow-left"></div>   		
	   		<div class="image">
	   		<% if @debate.cat_id == 1 %>
	   			<%= link_to image_tag("cat-sports.png", :alt => 'Moutoners'), list_path(:cat => 1)%>
	   		<%elsif @debate.cat_id == 2 %>
	   			<%= link_to image_tag("cat-quotidien.png", :alt => 'Moutoners'), list_path(:cat => 2)%>
	   		<%elsif @debate.cat_id == 3 %>
	   			<%= link_to image_tag("cat-monde.png", :alt => 'Moutoners'), list_path(:cat => 3)%>
	   		<%elsif @debate.cat_id == 4 %>
	   			<%= link_to image_tag("cat-economie.png", :alt => 'Moutoners'), list_path(:cat => 4)%>
	   		<%elsif @debate.cat_id == 5 %>
	   			<%= link_to image_tag("cat-culture.png", :alt => 'Moutoners'), list_path(:cat => 5)%>
	   		<%elsif @debate.cat_id == 6 %>
	   		 	<%= link_to image_tag("cat-sciences.png", :alt => 'Moutoners'), list_path(:cat => 6)%>
	   		<%elsif @debate.cat_id == 7 %>
	   			<%= link_to image_tag("cat-philosophie.png", :alt => 'Moutoners'), list_path(:cat => 7)%>
	   		<%elsif @debate.cat_id == 8 %>
	   			<%= link_to image_tag("cat-societe.png", :alt => 'Moutoners'), list_path(:cat => 8)%>
	   		<%end%>
	   		</div>
	   	</div>
		
		<div class="span1" id="hover-categorie">
			<div class="follow">
	   			<div class="texte">
	   				<% if @debate.cat_id == 1 %>
			   			sport
			   		<%elsif @debate.cat_id == 2 %>
			   			actualité
			   		<%elsif @debate.cat_id == 3 %>
			   			monde
			   		<%elsif @debate.cat_id == 4 %>
			   			éco
			   		<%elsif @debate.cat_id == 5 %>
			   			culture
			   		<%elsif @debate.cat_id == 6 %>
			   		 	sciences
			   		<%elsif @debate.cat_id == 7 %>
			   			philo
			   		<%elsif @debate.cat_id == 8 %>
			   			société
			   		<%end%>
	   			</div>
	   			<div class="arrow-left"></div>
	   		</div>
		</div>

		</div>
		<div class="row" id="explications">
			<%= image_tag("bulle-explication-01.png", class: "bulle1")%>
			<%= image_tag("bulle-explication1-01.png", class: "bulle2")%>
			<%= image_tag("bulle-explication0-01.png", class: "bulle3")%>													
		</div>		
							
		
<% end %>

		<div class="row" id="arguments">

					<% if current_user && @debate.has_evaluation?(:votes, current_user) %>
						
						<div class="row" id="votervoter2">
							J'argumenterai plus tard
						</div>
						
						<div class="row" id="box-argument">
				   			<% if @debate.valeur_vote(current_user) == 1.0 %>
								<div class="pour">
				   				<%= render "shared/argument_form", argumentable: @debate, argument: current_user.arguments.new, position:1 %>
								</div>								
				   			<%elsif @debate.valeur_vote(current_user) == - 1.0 %> 
								<div class="contre">
				   				<%= render "shared/argument_contre_form", argumentable: @debate, argument: current_user.arguments.new, position:1 %>
								</div>
				   			<% else%>
								<div class="suisse">
				   				<%= render "shared/argument_neutre_form", argumentable: @debate, argument: current_user.arguments.new, position:1 %>
								</div>
				   			<% end %>
				    	</div>

						<div class="row" id="votervoter1">
							<div class="texte-newarg">Contribue au débat!</div>
						</div>
					
				
					<% else  %>
						<div class="row" id="votervoter">						
							<div class="row" id="vote">
								<li>Pour contribuer, il faut d'abord voter:   </li>	
								<% if current_user %>
					 			<li class="oui-oui"><%= link_to "OUI", vote_debate_path(@debate, type: "up"), method: "post", :class => "oui" %>									
								<% else %>
								<li class="oui-oui"><%= link_to "OUI", new_user_session_path, :class => "oui" %>		
								<% end%>
								<% if current_user %>
								<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), vote_debate_path(@debate, type: "neutral"), method: "post", class: "suisse" %>
								<% else%>
								<li class="suisse-suisse"><%= link_to image_tag("croix-suisse.png"), new_user_session_path, method: "post", class: "suisse" %>
								<%end%>
								<% if current_user %>
								<li class="non-non"><%= link_to "NON", vote_debate_path(@debate, type: "down"), method: "post", :class => "non" %></li>			
								<%else%>
								<li class="non-non"><%= link_to "NON", new_user_session_path, method: "post", :class => "non" %></li>							
								<%end%>
							</div>
						</div>
						
					<%end%>					
		</div>
		

		
		<div>
			<% @arguments.each do |argument| %>
			<div class="row" id="arguments-debate">
				<% if @debate.valeur_vote(argument.user) == 1.0 %>
				<div class="pour">
					<%= render "shared/argument_badge", :argument => argument, :argumentable => @debate %>
				</div>
				<%elsif @debate.valeur_vote(argument.user) == - 1.0 %> 
				<div class="contre">
					<%= render "shared/argument_contre_badge", :argument => argument, :argumentable => @debate %>
				</div>
				<% else%>
				<div class="suisse">
					<%= render "shared/argument_neutre_badge", :argument => argument, :argumentable => @debate %>
				</div>
				<% end %>

			</div>
			<%end%>
			
			
		</div>
		<div>
		</br></br>		</br>		</br>
		</div>
	</div>
	<% if @debate.state == "offline"%>
		<%= @debate.state%>
		<%= link_to "Mettre en ligne", publish_debate_path(@debate)%>	
	<% end%>
</section>
					