<h1><%= @debate.title %> </h1>
<%= current_user.id%>

| <%= pluralize @debate.reputation_for(:votes).to_i, "vote" %>
| <%= pluralize @debate.count_for, "vote pour" %>
| <%= pluralize @debate.count_against, "vote contre" %>
| <%= pluralize @debate.count_neutral, "personnes suisses" %>

	
<% if current_user && !@debate.has_evaluation?(:votes, current_user) %>
  | <%= link_to "up", vote_debate_path(@debate, type: "up"), method: "post" %>
  | <%= link_to "down", vote_debate_path(@debate, type: "down"), method: "post" %>
  | <%= link_to "neutral", vote_debate_path(@debate, type: "neutral"), method: "post" %>
<% end %>


<%= simple_format @debate.content%>
<%= simple_format @argumentable.content%>

<h2>Arguments</h2>

<div id="arguments">
		<% @arguments.each do |argument| %>
			<% if @debate.valeur_vote(argument.user) == 1.0 %>
				<%= render "shared/argument_badge", :argument => argument, :argumentable => @debate %>
			<%elsif @debate.valeur_vote(argument.user) == - 1.0 %> 
				<%= render "shared/argument_contre_badge", :argument => argument, :argumentable => @debate %>
			<% else%>
				<%= render "shared/argument_neutre_badge", :argument => argument, :argumentable => @debate %>
			<% end %>
			<%= argument.id%>
			
			</br>
			<% if @debate.has_evaluation?(:votes, current_user) %>
				<%= link_to "Reaction", argument_path(argument) %>
			<% else  %> il faut voter pour le débat pour pouvoir réagir pour pouvoir réagir!
			<% end %>
		<%end%>
		
</div>

</br>
<% if @debate.has_evaluation?(:votes, current_user) %>
	<%= link_to "New argument", [:new, @argumentable, :argument] %>
<% else  %> il faut voter pour le débat pour pouvoir participer!
<% end %>	



