<% provide(:title, @debate.title) %>

<%= @debate.content %>
</br>
<%= current_user.name %>
</br>
<%= render @debate%>
</br>

<% @users.count  %>

<% if current_user.debating?(@debate)%>
	Tu participes déjà
<% else %>
<% form_for(current_user.performances.build(debate_id: @debate.id), remote: true) do |f| %>) %>
<div><%= f.hidden_field :debate_id %></div>
	  <%= f.submit "Participate", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>

