<h1><%= @debate.title %> </h1>

<%= simple_format @debate.content%>
<%= simple_format @argumentable.content%>

<h2>Arguments</h2>

<%= render "arguments/arguments" %>
<p><%= link_to "New argument", [:new, @argumentable, :argument] %></p>


