<section id="doulin">
	<div class="container">
		<div class="row">
			<div class="span2 offset1" id="user1">
				<div class="row">
						<% if @doulin.have_first? %>
							<%= @doulin.first_user.name%>
						<%else%>
							en attente
						<%end%>
				</div>
				<div class="row">
					<%if signed_in?%>
						<%= link_to "up", vote_expert_doulin_path(@doulin, type: "up"), method: "post" %>
					<%end%>
				</div>
			</div>
			<div class="span6" id="title2">
				<div class="row" id="illustration">
				</div>
				<div class="row" id="content">

					<h1><%= @doulin.title %> </h1>

					</br>
					Tags: <%= raw @doulin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
					</br>
					<%= @doulin.context%>
					<div class="row">
				        <div id="stats2">
				        	| <%= pluralize @doulin.count_for, "vote pour" %>
				        	| <%= pluralize @doulin.count_against, "vote contre" %>
				        </div>
					</div>
				</div>
			</div>
			<div class="span2" id="user2">
			   	<div class="row">		
						<% if @doulin.have_second? %>
			   	 			<%= @doulin.second_user.name%>
			   	 		<%else%>
			   	 			en attente
			   	 		<%end%>
				</div>
				<div class="row">
					<%if signed_in?%>
						<%= link_to "down", vote_expert_doulin_path(@doulin, type: "down"), method: "post" %>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</section>

<div class ="start">
	<% if @doulin.state == "online" && signed_in? && current_user == @doulin.first_user %>
		<%= link_to("LANCE LE DEBAT".html_safe,
	              start_doulin_path(@doulin) ,:method => :post) %>
	<%end%>
</div>

<div class="container">

	<div class="row">
		<div class="span 8 offset2">
		THE PRIME MINISTER OPENED THE DEBATE WITH
		<% if @doulin.state == "first" %>
			<% if signed_in? && current_user == @doulin.first_user %>
				<% if !@doulin.arguments.where(position: 1).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 1 %>
				<% else %>
					<%= render "shared/argument_badge", argument: @doulin.first_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.first_user.name %> en badge avec ...
			<%end%>
		<% elsif ["second","third","forth","fifth","sixth","seventh","eighth","over"].include?(@doulin.state) %>
			<%= render "shared/argument_badge", argument: @doulin.first_argument %>
		<% end %>
		<div>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION
		<% if @doulin.state == "second" %>
			<% if signed_in? && current_user == @doulin.second_user %>
				<% if !@doulin.arguments.where(position: 2).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 2 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: @doulin.second_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.second_user.name %> en badge avec ...
			<%end%>
		<% elsif ["third","forth","fifth","sixth","seventh","eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_contre_badge", argument: @doulin.second_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER SECOND INTERVENTION
		<% if @doulin.state == "third" %>
			<% if signed_in? && current_user == @doulin.first_user %>
				<% if !@doulin.arguments.where(position: 3).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 3 %>
				<% else %>
					<%= render "shared/argument_badge", argument: @doulin.third_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.first_user.name %> en badge avec ...
			<%end%>
		<% elsif ["forth","fifth","sixth","seventh","eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_badge", argument: @doulin.third_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION SECOND INTERVENTION
		<% if @doulin.state == "forth" %>
			<% if signed_in? && current_user == @doulin.second_user %>
				<% if !@doulin.arguments.where(position: 4).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 4 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: @doulin.fourth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.second_user.name %> en badge avec ...
			<%end%>
		<% elsif ["fifth","sixth","seventh","eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_contre_badge", argument: @doulin.fourth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER THIRD INTERVENTION
		<% if @doulin.state == "fifth" %>
			<% if signed_in? && current_user == @doulin.first_user %>
				<% if !@doulin.arguments.where(position: 5).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 5 %>
				<% else %>
					<%= render "shared/argument_badge", argument: @doulin.fifth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.first_user.name %> en badge avec ...
			<%end%>
		<% elsif ["sixth","seventh","eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_badge", argument: @doulin.fifth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION THIRD INTERVENTION
		<% if @doulin.state == "sixth" %>
			<% if signed_in? && current_user == @doulin.second_user %>
				<% if !@doulin.arguments.where(position: 6).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 6 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: @doulin.sixth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.second_user.name %> en badge avec ...
			<%end%>
		<% elsif ["seventh","eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_contre_badge", argument: @doulin.sixth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER SECOND INTERVENTION
		<% if @doulin.state == "seventh" %>
			<% if signed_in? && current_user == @doulin.first_user %>
				<% if !@doulin.arguments.where(position: 7).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 7 %>
				<% else %>
					<%= render "shared/argument_badge", argument: @doulin.seventh_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.first_user.name %> en badge avec ...
			<%end%>
		<% elsif ["eighth" ,"over"].include?(@doulin.state) %>
			<%= render "shared/argument_badge", argument: @doulin.seventh_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION SECOND INTERVENTION
		<% if @doulin.state == "eighth" %>
			<% if signed_in? && current_user == @doulin.second_user %>
				<% if !@doulin.arguments.where(position: 8).any? %>
					<%= render "shared/argument_form", argumentable: @doulin, argument: @doulin.arguments.new, position: 8 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: @doulin.eighth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              finish_doulin_path(@doulin) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= @doulin.second_user.name %> en badge avec ...
			<%end%>
		<% elsif ["judged","over"].include?(@doulin.state) %>
			<%= render "shared/argument_contre_badge", argument: @doulin.eighth_argument %>
		<% end %>	
	</div>	
</div>

<% if @doulin. state == "offline"%>

	<% if current_user.try(:admin)%>
		<%= link_to "GET READY", ready_doulin_path(@doulin), method: "post" %>
		</br>
		<%= link_to "PUBLISH", publish_doulin_path(@doulin), method: "post" %>
		<div class="form-actions">
		  <%= link_to t('.back', :default => t("helpers.links.back")),
		              doulins_path, :class => 'btn'  %>
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_doulin_path(@doulin), :class => 'btn' %>
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              doulin_path(@doulin),
		              :method => 'delete',
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-danger' %>
		</div>
		
		Rajouter un expert!
		<%= link_to "hey baby",new_doulin_expertise_path(@doulin.id) %>
		<%= form_for @expertise do |f| %>

		  <%= f.label :content, "Position" %><br />
		  <%= f.number_field :position %><br/>

		  <%= f.label :content, "User" %><br />
		  <%= f.text_field :user_id %><br/>

		  <%= f.label :content, "Doulin_id" %><br />
		  <%= f.text_field :doulin_id %><br/>

		<%= f.submit "Rajouter" %>
		<%end%>
		
	<%end%>
<%end%>

<div class="container">
			<% if @comments.any? %>
			<div class="row">
				<div class="span8 offset2">
					<% @comments.each do |comment| %>
						<%= comment.content %>
					<%end%>
				</div>
			</div>
			<%end%>
	        <div class="row">
				<div class="span8 offset2">
					<%= render "shared/comment_form", comment: @comment, commentable: @doulin, type: "Doulin"%>
				</div>
			</div>
</div>



