<div class="container">

	<div class="row">
		<div class="span 8 offset2">
		THE PRIME MINISTER OPENED THE DEBATE WITH
		<% if challenge.state == "first" %>
			<% if signed_in? && current_user == challenge.prime_minister %>
				<% if !challenge.arguments.where(position: 1).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 1 %>
				<% else %>
					<%= render "shared/argument_badge", argument: challenge.first_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.prime_minister.name %> en badge avec ...
			<%end%>
		<% elsif ["second","third","forth","fifth","sixth","seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_badge", argument: challenge.first_argument %>
		<% end %>
		<div>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION
		<% if challenge.state == "second" %>
			<% if signed_in? && current_user == challenge.first_opponent %>
				<% if !challenge.arguments.where(position: 2).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 2 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: challenge.second_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.first_opponent.name %> en badge avec ...
			<%end%>
		<% elsif ["third","forth","fifth","sixth","seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_contre_badge", argument: challenge.second_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER SECOND INTERVENTION
		<% if challenge.state == "third" %>
			<% if signed_in? && current_user == challenge.second_prop %>
				<% if !challenge.arguments.where(position: 3).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 3 %>
				<% else %>
					<%= render "shared/argument_badge", argument: challenge.third_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.second_prop.name %> en badge avec ...
			<%end%>
		<% elsif ["forth","fifth","sixth","seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_badge", argument: challenge.third_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION SECOND INTERVENTION
		<% if challenge.state == "forth" %>
			<% if signed_in? && current_user == challenge.second_opp %>
				<% if !challenge.arguments.where(position: 4).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 4 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: challenge.fourth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.second_opp.name %> en badge avec ...
			<%end%>
		<% elsif ["fifth","sixth","seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_contre_badge", argument: challenge.fourth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER THIRD INTERVENTION
		<% if challenge.state == "fifth" %>
			<% if signed_in? && current_user == challenge.prime_minister %>
				<% if !challenge.arguments.where(position: 5).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 5 %>
				<% else %>
					<%= render "shared/argument_badge", argument: challenge.fifth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.prime_minister.name %> en badge avec ...
			<%end%>
		<% elsif ["sixth","seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_badge", argument: challenge.fifth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION THIRD INTERVENTION
		<% if challenge.state == "sixth" %>
			<% if signed_in? && current_user == challenge.first_opponent %>
				<% if !challenge.arguments.where(position: 6).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 6 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: challenge.sixth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.first_opponent.name %> en badge avec ...
			<%end%>
		<% elsif ["seventh","eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_contre_badge", argument: challenge.sixth_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE PRIME MINISTER SECOND INTERVENTION
		<% if challenge.state == "seventh" %>
			<% if signed_in? && current_user == challenge.second_prop %>
				<% if !challenge.arguments.where(position: 7).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 7 %>
				<% else %>
					<%= render "shared/argument_badge", argument: challenge.seventh_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              next_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.second_prop.name %> en badge avec ...
			<%end%>
		<% elsif ["eighth","judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_badge", argument: challenge.seventh_argument %>
		<% end %>	
	</div>
	
	<div class="row">
		THE LEADER OF THE OPPOSITION SECOND INTERVENTION
		<% if challenge.state == "eighth" %>
			<% if signed_in? && current_user == challenge.second_opp %>
				<% if !challenge.arguments.where(position: 8).any? %>
					<%= render "shared/argument_form", argumentable: challenge, argument: challenge.arguments.new, position: 8 %>
				<% else %>
					<%= render "shared/argument_contre_badge", argument: challenge.eighth_argument %>
					<%= link_to("VALIDE TON ARGUMENT".html_safe,
			              finish_challenge_path(challenge) ,:method => :post) %>
				<% end %>
			<% else%>
				<%= challenge.second_opp.name %> en badge avec ...
			<%end%>
		<% elsif ["judged","over"].include?(challenge.state) %>
			<%= render "shared/argument_contre_badge", argument: challenge.eighth_argument %>
		<% end %>	
	</div>	
</div>