		<% if challenge.not_full?%>	
		blabla
		<% challenge.users.count%>
		<% challenge.performances.count%>
		
		<% if current_user.in_challenge?(challenge) %>
		
				Invite tes amis à ce débat en attendant!
				
			<% else %>
		
		     position 1 : <% if  challenge.four_corner_position_left.include?(1)%>
		     	<%= link_to("Prends la position de prime minister".html_safe,
		               join_one_challenge_path(challenge) ,:method => :post) %>
		     
		     	<%end%>
		     
		     
		     position 2 : <% if  challenge.four_corner_position_left.include?(2)%>
		     	<%= link_to("Prends la position de first oponent".html_safe,
		                   join_two_challenge_path(challenge) ,:method => :post) %>
		     
		     	<%end%>
		     	
		     
		     position 3 : <% if  challenge.four_corner_position_left.include?(3)%>
		     	<%= link_to("Prends la position de prime minister".html_safe,
		                   join_three_challenge_path(challenge) ,:method => :post) %>
		     	<%end%>
		     
		     
		     position 4 : <% if  challenge.four_corner_position_left.include?(4)%>
		     	<%= link_to("Prends la position de first oponent".html_safe,
		     	           join_four_challenge_path(challenge) ,:method => :post) %>
		        <%end%>
		
			<%end%>

		<% else %>

			<%if arguments == nil && current_user.in_challenge?(challenge)%>
			 <%= link_to("Votre atelier n'est pas encore visible <strong>Mettre en ligne</strong>".html_safe,
			           starting_challenge_path(challenge) ,:method => :post) %>
			<%elsif arguments == nil %>
				ce débat va bientôt commencer
			<% elsif %>
				<h2>Arguments</h2>

			<%end%>
		<%end%>