<h1>New Judgment</h1>

<%= form_for(judgment) do |f| %>
 
 
 <div class ="field">
	<%= f.text_area:title, rows:1 %>
	<%= f.text_area:content, rows:8 %>
	<%= f.number_field :grade %>
	<%= f.number_field :grade_two %>
	<%= f.hidden_field :challenge_id, :value => challenge.id %>
	<%= f.hidden_field :value, :value => value.id %>	

	
 </div>
	
 <div class ="actions">
	<%= f.submit%>
 </div>
<% end %>