<h1><%= @challenge.title %> </h1>

</br>
Tags: <%= raw @challenge.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</br>
<%= @challenge.type_deb %>
<%= @challenge.state %>

</br>
	<% if signed_in? %>
	
		<% if @challenge.juges < 3 && !current_user.in_challenge?(@challenge)%>
  		Inscris toi en tant que juge! Il reste <%= 3 - @challenge.juges %>
		<%= link_to("Juge".html_safe,
	          join_judge_challenge_path(@challenge) ,:method => :post) %>
		<% end %>
	<% end%>
	
</br>
	<% if @challenge.type_deb == 2 %>
			<%= render "lincoln_douglas", :challenge => @challenge, :arguments => @arguments %>
			
	<% elsif @challenge.type_deb == 3 %>
			<%= render "american", :challenge => @challenge, :arguments => @arguments %>
			
	<% elsif @challenge.type_deb == 4 %>
			<%= render "four_corner", :challenge => @challenge, :arguments => @arguments %>
			
	<% elsif @challenge.type_deb == 8 %>
			<%= render "british", :challenge => @challenge, :arguments => @arguments %>
	<%end%>


			<% if @challenge.state == "judged" %>

				<section id="jugments">
				  <div class="container">

					<div class="row">
				      <div class="span9">
				          <% if current_user.juge_challenge?(@challenge) && !current_user.has_judged?(@challenge)%>
							<%= render "judgment_two", :challenge => @challenge %>
						  <% end %>
				      </div>
				    </div>
					
					<div class="row">
						<div class ="span9">
							<% @judgments.each do |judgment| %>	
								<%= render "shared/judgment_badge", :judgment => judgment, :challenge => @challenge %>
							<%end%>
						</div>
					</div>
			   		

				  </div>
				</section>	

			<% end %>
			
			<% if @comments.any? %>
			<% @comments.each do |comment| %>
				<%= render "shared/comment", comment: comment %>
			<%end%>
			<%end%>
	
			<%= render "shared/comment_form", comment: @comment, commentable: @challenge, type: "Challenge"%>
				

