<% if current_user && current_user.try(:admin?)%>
	<%= link_to "promote", publish_debate_path(@debate)%>
<% end %>

<section id="challenge">
	<div class="container">

		<% if @challenge.type_deb == 2%>
		<div class="row" id="typechallenge">
			<%= image_tag 'bannire_type-01.png'%>
			<span class="texte4"> Lincoln Douglas Debate </span>
		</div>
			<%= render "challenges/lincoln_douglas", challenge: @challenge %>
		<%elsif @challenge.type_deb == 3 %>
		<div class="row" id="typechallenge">
			<%= image_tag 'bannire_type-01.png'%>
			<span class="texte3"> American Parliamentary Debate</span>
		</div>
			<%= render "challenges/american", challenge: @challenge %>
		<%elsif @challenge.type_deb == 4 %>
		<div class="row" id="typechallenge">
			<%= image_tag 'bannire_type-01.png'%>
			<span class="texte"> Four corners Debate </span>
		</div>
			<%= render "challenges/four_corner", challenge: @challenge %>
		<%elsif @challenge.type_deb == 8 %>
			<div class="row" id="typechallenge">
				<%= image_tag 'bannire_type-01.png'%>
				<span class="texte2"> British Parliamentary Debate</span>
			</div>
			
			<%= render "challenges/british", challenge: @challenge %>
		<%end%>
		
		
		
		
		
		
		<% if @challenge.jugebreve == 0 %>
		<% else%>
		<div class="espace"></div>
		<div class="row">
			<div class="span9 offset2" id="juges">
				<div class="row">
			 		<div class="span3" id="user-juge">
						<div class="image1">
							<div class="image2">
								<% if @challenge.have_first_judge? %>
									<%= image_tag @challenge.first_judge.avatar.url(:medium), class: "image2"%>
								<%else%>
							<%= image_tag ("default_medium.jpg") %>
								<%end%>
							</div>
						</div>
						<div class="nom-lien">
							<% if @challenge.have_first_judge? %>
								<div class="texte"><%= link_to @challenge.first_judge.fitting_name, @challenge.first_judge%></div>
							<%elsif current_user && current_user.in_challenge?(@challenge)%>
								<div class="texte">EN ATTENTE</div>
							<%else%>
							<div class="texte"><%= link_to("Juge ce débat !".html_safe,
			    		       						join_judge_challenge_path(@challenge) ,:method => :post) %>
							</div>
							<%end%>
						</div>
					</div>	
					<div class="span5" id="content">
						<% if current_user  && ["over", "judged", "judged_one"].include?(@challenge.state) && current_user == @challenge.first_judge && !current_user.has_judged?(@challenge)%>
						<div class="row" id="title-juge">	
							<%= form_for @challenge.judgments.new do |f| %>
							<%= f.hidden_field :challenge_id, :value => @challenge.id %>
							<%= f.text_area:title, class: "title", placeholder: "Opinion succincte sur le débat" %>
						</div>
						<div class="row" id="contenu">
							<%= f.text_area:content, class: "contenu", placeholder: "Développe ton point de vue" %>
						</div>
						<div class="row" id='notes-actions'>
							<%= f.number_field :grade, class: "note1", placeholder: "Note #{@challenge.prime_minister.name}" %>
							<%= f.number_field :grade_two, class: "note2", placeholder: "Note #{@challenge.first_opponent.name}" %>
							<%= f.submit "Envoyer", class: "actions"%>
						</div>
							<%end%>

						<%elsif @challenge.have_first_judge? && @challenge.first_judgment_array.any? %>
						<div class="row" id="title-juge">
								<%= @challenge.first_judgment.title%>
						</div>	
						<div class="row" id="contenu">
								<%= @challenge.first_judgment.content%>
						</div>
					<% end %>
					</div>

					<div class="span2" id="grades">	
						<% if [2,3].include?(@challenge.type_deb) && !@challenge.not_full?%>
						<div class="adeux">
							<div class="note1">
							<%= image_tag "notes-2.png"%></div>
							<div class="note2">
							<% if @challenge.have_first_judge? &&@challenge.first_judgment_array.any?%>
								<%= @challenge.first_judgment.grade %>
							<%else%>
							0
							<%end%>/10
							<div class='text'></br></br><%= @challenge.prime_minister.fitting_name%></div>
							</div>
							<div class="note3">
							<%= image_tag "notes-2.png"%></div>
							<div class="note2">
							<% if @challenge.have_first_judge? && @challenge.first_judgment_array.any?%>
								<%= @challenge.first_judgment.grade_two %>
							<%else%>
							0
							<%end%>/10
							<div class='text'></br></br><%= @challenge.first_opponent.fitting_name%></div>
							</div>
						</div>
						<% elsif [4,8].include?(@challenge.type_deb)  && !@challenge.not_full? %>
								<% if @challenge.have_first_judge? &&@challenge.first_judgment_array.any?%>
									<%= @challenge.first_judgment.grade %>
									<%= @challenge.first_judgment.grade_two %>
									<%= @challenge.first_judgment.grade_three %>
									<%= @challenge.first_judgment.grade_four %>
								<%else%>
								0
								0
								0
								0
								<%end%>
						<%end%>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span9 offset2" id="juges">
				<div class="row">
			 		<div class="span3" id="user-juge">
						<div class="image1">
							<div class="image2">
								<% if @challenge.have_second_judge? %>
									<%= image_tag @challenge.second_judge.avatar.url(:medium), class: "image2"%>
								<%else%>
							<%= image_tag ("default_medium.jpg") %>
								<%end%>
							</div>
						</div>
						<div class="nom-lien">
							<% if @challenge.have_second_judge? %>
								<div class="texte"><%= link_to @challenge.second_judge.fitting_name, @challenge.second_judge%></div>
							<%elsif current_user && current_user.in_challenge?(@challenge)%>
								<div class="texte">EN ATTENTE</div>
							<%else%>
							<div class="texte"><%= link_to("Juge ce débat !".html_safe,
			    		       						join_judge_two_challenge_path(@challenge) ,:method => :post) %>
							</div>
							<%end%>
						</div>
					</div>	
					<div class="span5" id="content">
						<% if current_user  && ["over", "judged", "judged_one"].include?(@challenge.state) && current_user == @challenge.second_judge && !current_user.has_judged?(@challenge)%>
						<div class="row" id="title-juge">	
							<%= form_for @challenge.judgments.new do |f| %>
							<%= f.hidden_field :challenge_id, :value => @challenge.id %>
							<%= f.text_area:title, class: "title", placeholder: "Opinion succincte sur le débat" %>
						</div>
						<div class="row" id="contenu">
							<%= f.text_area:content, class: "contenu", placeholder: "Développe ton point de vue" %>
						</div>
						<div class="row" id='notes-actions'>
							<%= f.number_field :grade, class: "note1", placeholder: "Note #{@challenge.prime_minister.name}" %>
							<%= f.number_field :grade_two, class: "note2", placeholder: "Note #{@challenge.first_opponent.name}" %>
							<%= f.submit "Envoyer", class: "actions"%>
						</div>
							<%end%>

						<%elsif @challenge.have_second_judge? && @challenge.second_judgment_array.any? %>
						<div class="row" id="title-juge">
								<%= @challenge.second_judgment.title%>
						</div>	
						<div class="row" id="contenu">
								<%= @challenge.second_judgment.content%>
						</div>
					<% end %>
					</div>

					<div class="span2" id="grades">	
							<% if [2,3].include?(@challenge.type_deb) && !@challenge.not_full?%>
							<div class="adeux">
								<div class="note1">
					   	 		<%= image_tag "notes-2.png"%></div>
								<div class="note2">
								<% if @challenge.have_second_judge? && @challenge.second_judgment_array.any?%>
									<%= @challenge.second_judgment.grade %>
								<%else%>
								0
								<%end%>/10
								<div class='text'></br></br><%= @challenge.prime_minister.fitting_name%></div>
								</div>
								<div class="note3">
					   	 		<%= image_tag "notes-2.png"%></div>
								<div class="note2">
								<% if @challenge.have_second_judge? &&@challenge.second_judgment_array.any?%>
									<%= @challenge.second_judgment.grade_two %>
								<%else%>
								0
								<%end%>/10
								<div class='text'></br></br><%= @challenge.first_opponent.fitting_name%></div>
								</div>
							</div>
							<% elsif [4,8].include?(@challenge.type_deb)  && !@challenge.not_full? %>
								<% if @challenge.have_second_judge? &&@challenge.second_judgment_array.any?%>
									<%= @challenge.second_judgment.grade %>
									<%= @challenge.second_judgment.grade_two %>
									<%= @challenge.second_judgment.grade_three %>
									<%= @challenge.second_judgment.grade_four %>
								<%else%>
								0
								0
								0
								0
							<%end%>
					   	 	<%end%>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span9 offset2" id="juges">
				<div class="row">
			 		<div class="span3" id="user-juge">
						<div class="image1">
							<div class="image2">
								<% if @challenge.have_third_judge? %>
									<%= image_tag @challenge.third_judge.avatar.url(:medium), class: "image2"%>
								<%else%>
							<%= image_tag ("default_medium.jpg") %>
								<%end%>
							</div>
						</div>
						<div class="nom-lien">
							<% if @challenge.have_third_judge? %>
								<div class="texte"><%= link_to @challenge.third_judge.fitting_name, @challenge.third_judge%></div>
							<%elsif current_user && current_user.in_challenge?(@challenge)%>
								<div class="texte">EN ATTENTE</div>
							<%else%>
							<div class="texte"><%= link_to("Juge ce débat !".html_safe,
			    		       						join_judge_three_challenge_path(@challenge) ,:method => :post) %>
							</div>
							<%end%>
						</div>
					</div>	
					<div class="span5" id="content">
						<% if current_user  && ["over", "judged", "judged_one"].include?(@challenge.state) && current_user == @challenge.third_judge && !current_user.has_judged?(@challenge)%>
						<div class="row" id="title-juge">	
							<%= form_for @challenge.judgments.new do |f| %>
							<%= f.hidden_field :challenge_id, :value => @challenge.id %>
							<%= f.text_area:title, class: "title", placeholder: "Opinion succincte sur le débat" %>
						</div>
						<div class="row" id="contenu">
							<%= f.text_area:content, class: "contenu", placeholder: "Développe ton point de vue" %>
						</div>
						<div class="row" id='notes-actions'>
							<%= f.number_field :grade, class: "note1", placeholder: "Note #{@challenge.prime_minister.name}" %>
							<%= f.number_field :grade_two, class: "note2", placeholder: "Note #{@challenge.first_opponent.name}" %>
							<%= f.submit "Envoyer", class: "actions"%>
						</div>
							<%end%>

						<%elsif @challenge.have_third_judge? && @challenge.third_judgment_array.any? %>
						<div class="row" id="title-juge">
								<%= @challenge.third_judgment.title%>
						</div>	
						<div class="row" id="contenu">
								<%= @challenge.third_judgment.content%>
						</div>
						<% end %>
					</div>

					<div class="span2" id="grades">	
							<% if [2,3].include?(@challenge.type_deb) && !@challenge.not_full?%>
							<div class="adeux">
								<div class="note1">
					   	 		<%= image_tag "notes-2.png"%></div>
								<div class="note2">
								<% if @challenge.have_third_judge? &&@challenge.third_judgment_array.any?%>
									<%= @challenge.third_judgment.grade %>
								<%else%>
								0
								<%end%>/10
								<div class='text'></br></br><%= @challenge.prime_minister.fitting_name%></div>
								</div>
								<div class="note3">
					   	 		<%= image_tag "notes-2.png"%></div>
								<div class="note2">
								<% if @challenge.have_third_judge? && @challenge.third_judgment_array.any?%>
									<%= @challenge.third_judgment.grade_two %>
								<%else%>
								0
								<%end%>/10
								<div class='text'></br></br><%= @challenge.first_opponent.fitting_name%></div>
								</div>
							</div>
							<% elsif [4,8].include?(@challenge.type_deb) && !@challenge.not_full? %>
							<% if @challenge.have_third_judge? &&@challenge.third_judgment_array.any?%>
								<%= @challenge.third_judgment.grade %>
								<%= @challenge.third_judgment.grade_two %>
								<%= @challenge.third_judgment.grade_three %>
								<%= @challenge.third_judgment.grade_four %>
							<%else%>
							0
							0
							0
							0
					   	 	<%end%>
							<%end%>
					</div>
				</div>
			</div>
		</div>
		<%end%>
		<div class="espace"></div>
		
		
		<div class='row'>
			
			<div class="row" id ="openning-comments">
				<div class="comment-texte1">Afficher plus de commentaires</div>
				<div class="comment-texte2">Afficher moins de commentaires</div>
				<div class="arrow-down-comments"></div>
				<div class="arrow-up-comments"></div>
			</div>
			
			<div class="row" id="comments-to-close">
				<% if @challenge.comments.any?%> 
					<%= render "comments/comment", comment:@challenge.comments.last%>
					<%if @challenge.comments.count > 1 %>
						<%= render "comments/comment", comment:@challenge.comments.first%>
					<% end%>
				<%end%>					
			</div>
			<div class="row" id="comments-to-open">
				<% @challenge.comments.each do |m| %>
					<%= render "comments/comment", comment: m %>
			    <% end %>
			</div>
			
			<% if current_user %>
			<div class="row" id="okok"><%= render "shared/comment_form", commentable: @challenge, type: Challenge, comment: @challenge.comments.new%></div>
			<%else%>
			<div class="row" id="allezvousconnecter">
				<%= link_to "Pour réagir, il faut se connecter", new_session_path(resource_name), class: "ok"%>
			</div>
			<% end %>
			
		</div>
		
	</div>
</section>