
<!doctype html>

<!--[if lt IE 7 ]> <html lang="<%= I18n.locale %>" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= I18n.locale %>" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= I18n.locale %>" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= I18n.locale %>" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= I18n.locale %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <%= yield :head %>
    
    <link rel="shortcut icon" href="/assets/favicon.gif" type="image/x-icon" />
    
    <title>Moutoner | Venez débattre </title>
    
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div id="wrap">
      <header>
        <div class="container"> 
	     <div class ="row"> 
		  <div class="span4", style="float:left">
			<div id="Notifications", class ="row">
				NOTIFICATIONS
			</div>
			<div id="search", class ="row">
	      		<%= form_tag ("/search_results"), :method => "get", :class=>"search-form" do %>

				  <%= text_field_tag ("search"), nil, :class => 'search_input',
				    :onblur=>"if(this.value=='')this.setAttribute('class', 'search_input');",
				    :onfocus=>"this.setAttribute('class', 'search_input_clear');"
				 %>
				<% end %>
			</div>
	      </div>

	      <div class="span4">
			<div class="span2">
	      	<div id="logo", class="img-circle">
	              <%= link_to image_tag('logo_moutoner.png', :alt => 'Moutoner'), root_path %>
	        </div>
			</div>
	      </div>
		    
          <div class ="span4", style:"float:right">
			<div class ="row">
			  <% if user_signed_in? %>
	              <div id="user-nav" class="btn-group", style:"float:right">
	                <a class="btn" data-toggle="dropdown" href="#">
	                  <i class="icon-user"></i>
	                  <%= current_user.name %>
	                </a>                
	                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	                  <span class="caret"></span>
	                </a>
	                <ul class="dropdown-menu">
	                  <li><%= link_to "Profil", user_path(current_user) %></li>
	                  <li><%= link_to "Déconnexion", destroy_user_session_path, :method=>'delete' %></li>
	                </ul>
	              </div>
	          <% else %>
	              <ul id="user-nav" class="unstyled", style:"float:right">
	                <%= content_tag(:li, link_to(raw("cr&eacute;er un compte"), new_user_registration_path)) %>
	                <%= content_tag(:li, link_to("s'identifier", new_user_session_path)) %>
	              </ul>
	          <% end %>
			</div>
			<div class ="row", id="debat-nav">
				<%= content_tag(:li, :class => ("active" if current_page?(apprendre_path))) do %>
	              <%= link_to apprendre_path do %>
	                <%= content_tag(:strong, "APPRENDRE A DEBATTRE") %>
	              <% end %>
	            <% end %>
			</div>
          </div>
		 </div>
		
		
		 <div class ="row"> 
		   <div class = "span12", id = "navigation">
		 	<div class = "span9">
		     <ul id="main-nav" class="unstyled">
                 <%= content_tag(:li, :class => ("active" if current_page?(list_path))) do %>
                   <%= link_to list_path do %>
                     <%= content_tag(:strong, "TOUS LES DEBATS  |") %>
                   <% end %>
                 <% end %>
                 <%= content_tag(:li, :class => ("active" if current_page?(doulins_path))) do %>
                   <%= link_to doulins_path do %>
                     <%= content_tag(:strong, "LES EXPERTS  |") %>
                   <% end %>
                 <% end %>
          		<%= content_tag(:li, :class => ("active" if current_page?(debates_path))) do %>
                   <%= link_to debates_path do %>
                     <%= content_tag(:strong, "MURS DE DEBATS  |") %>
                   <% end %>
                 <% end %>
		 		<%= content_tag(:li, :class => ("active" if current_page?(challenges_path))) do %>
                   <%= link_to challenges_path do %>
                     <%= content_tag(:strong, "LES CHALLENGES") %>
                   <% end %>
                 <% end %>
               </ul>
		 	</div>
		   </div>
		 </div>
		
		</div>
      </header>
      
      <section id="main-wrap">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </section>
    </div>
    
    <footer>
      <section id="social_links">
        <div class="container">
          <div id="icons">
            <ul class="unstyled">
              <%= content_tag(:li, link_to("", "http://www.facebook.com/cupofteach", :id => "facebook", :target => "_blank")) %>
              <%= content_tag(:li, link_to("", "http://www.twitter.com/cupofteach", :id => "twitter", :target => "_blank")) %>
              <%= content_tag(:li, link_to("", "http://www.pinterest.com", :id => "pinterest", :target => "_blank")) %>
              <%= content_tag(:li, link_to("", "http://vimeo.com/cupofteach", :id => "vimeo", :target => "_blank")) %>
              <%= content_tag(:li, link_to("", "http://www.linkedin.com/company/2597764", :id => "linkedin", :target => "_blank")) %>
            </ul>
          </div>
        </div>
      </section>
      <section id="footer_content">
        <div class="container">
          <ul class="unstyled">
            
            <li><%= link_to "Blog", "http://blog.cupofteach.com" %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "CGU", cgu_path %></li>
            <li><%= link_to "Presse", presse_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
      </section>
    </footer>
  </body>
</html>